<div id="art-list">
    <div class="app-alert" ng-class="{'active':hasMsg}">
        <div class="inner">{{msg}}</div>
    </div>
    <div class="app-filter">
        <div class="l">
            <div class="app-select" ng-show="!!types.length">
                <select ng-options="i.name for i in types track by i.id" ng-model="artType" ng-change="currentPage=1;getList()"></select>
            </div>
            <div class="app-input-date">
                <input class="input" type="text" ng-change="getList()" ng-model="putDate" date-picker placeholder="投放日期">
                <button class="input-clear" type="button" ng-click="putDate=null;getList()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button class="input-addon" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
        </div>
        <div class="r">
            <div class="app-input-search">
                <input class="input" type="text" placeholder="输入关键字" ng-model="keywords" ng-keypress="search($event)">
                <button class="input-addon" type="button" ng-click="search()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
            <button class="app-button-primary" type="button" ng-click="artPut()">发布文章</button>
        </div>
    </div>
    <div class="app-display-board" ng-show="report">
        <div class="l">
            <div class="inner">
                <div class="item">
                    <!-- * status：1待审核，2通过，3拒绝，4下线 -->
                    <a href="javascript:void(0);" ng-click="changeStatus(1)" ng-class="{'active':status === 1}">
                        <p class="t">{{report.statusWaitAudit | number : 0}}</p>
                        <p class="b">待审核</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeStatus(2)" ng-class="{'active':status === 2}">
                        <p class="t">{{report.statusSuccess | number : 0}}</p>
                        <p class="b">已投放</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeStatus(3)" ng-class="{'active':status === 3}">
                        <p class="t">{{report.statusFail | number : 0}}</p>
                        <p class="b">已拒绝</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeStatus(4)" ng-class="{'active':status === 4}">
                        <p class="t">{{report.statusOffline | number : 0}}</p>
                        <p class="b">已下线</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeAll(0,'')" ng-class="{'active':type === '' && status === 0}">
                        <span>显示全部</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="r">
            <div class="inner">
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeType(0)" ng-class="{'active':type === 0}">
                        <p class="t">{{report.countFree | number : 0}}</p>
                        <p class="b">普通文章</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeType(3)" ng-class="{'active':type === 3}">
                        <p class="t">{{report.typeUcoin | number : 0}}</p>
                        <p class="b">U币文章</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeAll(0,'')" ng-class="{'active':type === '' && status === 0}">
                        <span>显示全部</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
    <div class="app-table-box">
        <table class="app-table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>文章标题</th>
                    <th>文章分类</th>
                    <th>创建时间</th>
                    <th>预约时间</th>
                    <th>模板类型</th>
                    <th>阅读量</th>
                    <th>转发量</th>
                    <th>点赞数</th>
                    <th>审核状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list" ng-show="list">
                    <td>{{$index+1}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.infoTypeName || "无"}}</td>
                    <td>{{item.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
                    <td>{{item.pushTime || "无" | date:"yyyy/MM/dd HH:mm"}}</td>
                    <td>
                        <span ng-if="item.template==1">视频模板</span>
                        <span ng-if="item.template==2">图文模板</span>
                        <span ng-if="item.template==3">封面模板</span>
                        <span ng-if="item.template==4">多图模板</span>
                    </td>
                    <td>{{item.readNumber | number : 0}}</td>
                    <td>{{item.receiveNumber | number : 0}}</td>
                    <td>{{item.likesNumber | number : 0}}</td>
                    <td>{{item.statusName}}</td>
                    <td>
                        <a href="javascript:void(0);" ng-click="check(item)">查看</a>
                        <a href="javascript:void(0);" ng-click="modify(item)" ng-show="item.status === 1 || item.status === 2 || item.status === 3">修改</a>
                        <a href="javascript:void(0);" ng-click="del(item)" ng-show="item.status === 1 || item.status === 2 || item.status === 3">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-nodata" ng-show="!list.length">暂无数据</div>
    </div>
    <div class="app-pagination">
        <ul uib-pagination
        ng-change="pageChanged()"
        items-per-page="pageSize"
        num-pages="numPages"
        total-items="totalItems"
        ng-model="currentPage"
        max-size="maxSize"
        boundary-links="true"
        rotate="true"
        first-text="&laquo;"
        last-text="&raquo;"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"></ul>
        <div class="pageTo">
            <input type="number" placeholder="输入页数" ng-model="pageTo" ng-keypress="setPage($event)">
        </div>
    </div>
</div>
