<div class="art_put_form">
    <div class="inner">
        <div class="l">
            <div class="phone" ng-show="step === 1">
                <div class="phone_head">
                    <div class="head_btn"></div>
                    <div class="head_tit">
                        <span>{{siteName}}2台</span>
                    </div>
                    <div class="head_btn">
                        <span>切换城市</span>
                    </div>
                </div>
                <div class="phone_nav">
                    <img src="./img/app-nav.png" alt="" />
                </div>
                <div class="phone_content">
                    <ul class="tab">
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span class="active">{{type.name || "##"}}</span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                    <div class="banner">
                        <div class="bg"></div>
                        <img ng-show="infoSet.top === '1' && previewUrl" ng-src="{{previewUrl}}" alt="" />
                        <div class="tit" ng-show="infoSet.top === '1'">
                            {{infoSet.title || "请输入文章标题"}}
                        </div>
                        <div class="bott">
                            <div class="bott_l">
                                <i class="read"></i>
                                <span>9231</span>
                                <i class="share"></i>
                                <span>12万</span>
                            </div>
                            <div class="bott_r">
                                <span></span><span></span>
                                <span class="active"></span>
                                <span></span><span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list" ng-click="step = 2">
                        <div class="t">
                            <div class="t_l">
                                {{infoSet.title || "请输入文章标题"}}
                            </div>
                            <div class="t_r">
                                <img ng-show="littleUrl" ng-src="{{littleUrl}}" alt="" />
                            </div>
                        </div>
                        <div class="b">
                            <div class="b_time">
                                2016/05/15 11:20
                            </div>
                            <div class="b_r">
                                <i class="read"></i>
                                <span>9231</span>
                                <i class="share"></i>
                                <span>12万</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="phone" ng-show="step === 2">
                <div class="phone_head">
                    <div class="head_btn">
                        <div class="back animated bounceIn" ng-click="step = 1">
                            <i class="ic"></i>
                        </div>
                    </div>
                    <div class="head_tit">
                        <span>详情</span>
                    </div>
                    <div class="head_btn"></div>
                </div>
                <div class="phone_content_detail">
                    <div class="art_video" ng-show="infoSet.template === '1'">
                        <img ng-show="imageUrl" ng-src="{{imageUrl}}" alt="" />
                        <button class="video_play" type="button" name="button"></button>
                    </div>
                    <div class="art_tit">
                        {{infoSet.title || "请输入文章标题"}}
                    </div>
                    <div class="art_sour">
                        <span class="sour">{{infoSet.sellerName || "文章来源"}}</span>
                        <span class="time">2016-06-31 20:11</span>
                        <span class="read">阅读:2000</span>
                    </div>
                    <div class="art_con" ng-show="infoSet.template === '1'">
                        {{infoSet.videoCon || "介绍在45个字以内，若没有填写，标题则会成为视频文案。"}}
                    </div>
                    <div class="art_con" ng-bind-html="artCon || artConPlace" ng-show="infoSet.template === '2'"></div>
                </div>
            </div>
        </div>
        <div class="r">
            <div class="form_row">
                <div class="tit">
                    <span>置顶文章：</span>
                </div>
                <div class="cont">
                    <label class="radio_label">
                        <input type="radio" value="1" ng-change="step = 1" ng-model="infoSet.top">
                        <i class="icon"></i>
                        <span>是</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" value="0" ng-change="step = 1" ng-model="infoSet.top">
                        <i class="icon"></i>
                        <span>否</span>
                    </label>
                </div>
            </div>
            <div class="form_row" ng-show="!!types.length">
                <div class="tit">
                    <span>文章分类：</span>
                </div>
                <div class="cont">
                    <select class="select_type" ng-change="step = 1" ng-options="i.name for i in types track by i.id" ng-model="type"></select>
                    <label class="checkbox_label" ng-show="permission.button_info_ucoin === '1'">
                        <input type="checkbox" ng-model="infoSet.feeType" ng-false-value="0" ng-true-value="3">
                        <span>U币文章</span>
                    </label>
                </div>
            </div>
            <div class="form_row">
                <div class="tit">
                    <span>文章标题：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" type="text" ng-model="infoSet.title" ng-focus="step = 1" placeholder="请输入文章标题">
                    <span class="err" ng-show="noTit">请输入文章标题</span>
                </div>
            </div>
            <div class="form_row" ng-show="permission.button_push_time ==='1'">
                <div class="tit">
                    <span>发布时间：</span>
                </div>
                <div class="cont">
                    <div class="form_date">
                        <input type="text" ng-model="pushTime" date-time-picker placeholder="选择日期">
                        <button type="button" class="ipt_addon date-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <div class="tit">
                    <span>上传图片：</span>
                </div>
                <div class="cont">
                    <div class="pic_view" ng-show="shareImg">
                        <img ng-src="{{shareImg}}" alt="" />
                        <button class="delpic" type="button" ng-click="clearImg()"></button>
                    </div>
                    <button ng-show="!shareImg" class="add_pic_btn" ng-click="clickBtnPic()" type="button" name="button"></button>
                    <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadPic" nv-file-select="" uploader="uploadPic" />
                    <span class="tip" ng-show="(!picUploadErr && !uploadPic.queue[0].progress && !noPreviewUrl) && !shareImg">支持jpg格式，850*405 72dpi</span>
                    <span class="tip" ng-show="!!uploadPic.queue[0].progress">{{uploadVideo.queue[0].progress}} %</span>
                    <span class="tip" ng-show="shareImg">上传成功</span>
                    <span class="err" ng-show="(picUploadErr || noPreviewUrl) && !shareImg">{{picUploadErr || "请上传文章封面图"}}</span>
                </div>
            </div>
            <div class="form_row">
                <div class="tit">
                    <span>文章模板：</span>
                </div>
                <div class="cont">
                    <label class="radio_label">
                        <input type="radio" value="2" ng-model="infoSet.template" ng-change="step = 2">
                        <i class="icon"></i>
                        <span>图文模板</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" value="1" ng-model="infoSet.template" ng-change="step = 2">
                        <i class="icon"></i>
                        <span>视频模板</span>
                    </label>
                </div>
            </div>
            <div class="form_row">
                <div class="tit">
                    <span>文章来源：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" type="text" ng-model="infoSet.sellerName" ng-focus="step = 2" placeholder="请输入文章来源">
                    <span class="err" ng-show="noSellerName">请输入文章来源</span>
                </div>
            </div>
            <div class="form_row" ng-show="infoSet.template === '1'">
                <div class="tit">
                    <span>上传视频：</span>
                </div>
                <div class="cont otw">
                    <button class="add_video_btn" type="button" name="button" ng-click="clickBtnVideo()">
                        <i class="play"></i>
                        <span>上传视频</span>
                    </button>
                    <input type="file" clean-file-value ng-show="false" accept="video/*" nv-file-select="" id="uploadVideo" uploader="uploadVideo"/>
                    <span class="tip" ng-show="!videoUploadErr && !uploadVideo.queue[0].progress && !videoUrl">支持mp4格式，40M以内</span>
                    <span class="tip" ng-show="!!uploadVideo.queue[0].progress">{{uploadVideo.queue[0].progress}} %</span>
                    <span class="tip" ng-show="videoUrl">{{videoUrl}}</span>
                    <span class="err" ng-show="videoUploadErr || noVideoUrl">{{videoUploadErr || "请上传视频"}}</span>
                </div>
            </div>
            <div class="form_row" ng-show="infoSet.template === '1' && permission.button_info_video === '1'">
                <div class="tit">
                    <span>精彩视频推荐：</span>
                </div>
                <div class="cont">
                    <select class="select_type" ng-model="infoSet.videoType">
                        <option value="0" selected="selected">不推荐</option>
                        <option value="28">综艺</option>
                        <option value="29">萌物</option>
                        <option value="30">时事</option>
                        <option value="31">美食</option>
                        <option value="32">体育</option>
                        <option value="33">游戏</option>
                        <option value="34">音乐</option>
                    </select>
                </div>
            </div>
            <div class="form_row" ng-show="infoSet.template === '1'">
                <div class="tit">
                    <span>视频文案：</span>
                </div>
                <div class="cont">
                    <textarea ng-model="infoSet.videoCon" ng-focus="step = 2" placeholder="介绍在45个字以内，若没有填写，标题则会成为视频文案。"></textarea>
                </div>
                <p class="err_block" ng-show="noVideoCon">请输入视频文案</p>
            </div>
            <div class="form_row" ng-show="infoSet.template === '2'">
                <div class="tit">
                    <span>文章内容：</span>
                </div>
                <div class="cont">
                    <app-editor-mu ng-model="infoSet.content" ng-click="step = 2"></app-editor-mu>
                </div>
                <p class="err_block" ng-show="noContent">请编辑文章内容</p>
            </div>
            <div class="form_row">
                <div class="tit"></div>
                <div class="cont">
                    <button class="app-button-default" ng-show="artEdit" type="button" ng-click="putNew()">发布新文章</button>
                    <button class="app-button-primary" type="button" ng-click="putArticle()">提交</button>
                    <button class="app-button-default" ng-show="!artEdit" type="button" ng-click="putNew()">重置</button>
                    <!-- <button class="app-button-default" ng-click="showInfo()" type="button" ng-show="true">测试</button> -->
                    <i class="loading" ng-show="loading"></i>
                    <span class="err" ng-show="errMsg">{{errMsg}}</span>
                    <span class="succ" ng-show="succMsg">{{succMsg}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
