<div id="cir_comment">
 <show-msg inn="1" ruter="showyes" innc="show" intop="40" inleft="45" inhtml='{{inhtml}}'></show-msg>
 	<div class="app-filter">
		<div class="r">	

            <div class="app-input-date">
                <input class="input" type="text" ng-model="date_get" date-picker placeholder="发表日期">
                <button class="input-addon" type="button">
                    <i class="glyphicon dataaddon"></i>
                </button>
            </div>
            <div class="app-input-search">
                <input class="input" type="text" placeholder="输入关键字搜索" ng-model="commentAll.search" ng-keypress="getList()">
                <button class="input-addon" type="button" ng-click="getList()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
	</div>


    <!-- 表格 -->
    <div class="app-table-box">
        <table class="app-table">
            <thead>
                <tr>
                    <th>用户名</th>
                    <!-- <th>评论动态</th> -->
                    <th>评论内容</th>
                    <th>发表时间</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in commentContent.data">
                    <!-- <td ng-click="testx(item)">{{item.title}}</td> -->
                    <td>{{item.nickName}}</td>
                    <td class="dyc" ng-show="item.isDelete==1"><s style="color:#BFBFBF">{{item.content}}</s></td>
                    <td class="dyc" ng-show="item.isDelete==0">{{item.content}}</td>
                    <td>{{item.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
                    <!-- <td>{{item.name}}</td> -->
    <!--                 <td>{{item.commentCount}}</td> -->
                    <!-- <td>{{item.weixin}}</td> -->
                	<td>
                		
                        <!-- <a href="javascript:void(0);" ui-sref="bbs_post_edit({postid:item.id,canedit:0})" ng-show="true">详情</a> -->
                        <a href="javascript:void(0);" ng-click="goListInfo(item)" ng-show="true">查看动态</a>
                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==0">屏蔽</a>
                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==1">恢复</a>
                	</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-pagination">
        <ul uib-pagination
        ng-change="pageChanged(pageIndex)"
        items-per-page="commentContent.pageSize"
        num-pages="commentContent.pageCount"
        total-items="commentContent.rowCount"
        ng-model="pageIndex"
        max-size="5"
        boundary-links="true"
        rotate="true"
        first-text="&laquo;"
        last-text="&raquo;"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"></ul>
        <div class="pageTo">
            <input type="number" placeholder="输入页数" ng-model="pageIndex">
        </div>
    </div>

</div>