<div id="cir_list_info">
<show-msg inn="1" ruter="showyes" innc="show" intop="37" inleft="45" inhtml='{{inhtml}}'></show-msg>
       <div class="app-filter">
            <div class="nav-left">  
                <ol class="breadcrumb">
                    <a onclick="window.history.back()"><i class="data-addon"></i></a>
                  <li onclick="window.history.back()"><a>动态管理</a></li>
                  <!-- <li><a href="#">Library</a></li> -->
                  <li class="active">{{list.content}}</li>
                </ol>
            </div>
        </div>



        <div class="app-display-board">
            <div class="l">
                <div class="l-head"></div>
                 <div class="post">
                        <div class="post_user">

                            <div class="user_head" ng-style="newStyle"></div>
                            <div class="user_info">
                                <div class="user_name">{{list.nickName}}</div>
                                <div class="user_time">{{list.createDate | date:"MM/dd HH:mm"}}</div>
                            </div>

                            <div class="rContent">
                                <div class="sayContent">{{list.content}}</div>
                                <div class="sayImg">
                                    <div class="sayImgDiv" ng-repeat="it in list.imgList">
                                    <img ng-src="{{it}}">
                                    </div>
                                </div>
                                <div class="sayInfo">
                                <!-- liuyan.png  like.png -->
                                    <div class="sayRead">{{list.userReadNumbers}}阅读</div>
                                    <div class="sayLike"><a href="javascript:void(0)"></a>{{list.commentNumbers}}</div>
                                    <div class="sayComment"><a href="javascript:void(0)"></a>{{list.likeNumbers}}</div>
                                    
                                </div>
                            </div>
                        
                        </div>

                        <div class="post_content" ng-bind-html="htmlc">
                        </div>
                </div>

            </div>
            <div class="r">
                    <!-- 表格 -->
                    <div class="app-table-box">
                        <table class="app-table">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>评论内容</th>
                                    <th>发表时间</th>
                                    <th>操作</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in nowList">
                                    <td>{{item.uName}}</td>
                                    <td class="dyc" ng-show="item.isDelete==1"><s style="color:#BFBFBF">{{item.content}}</s></td>
                                    <td class="dyc" ng-show="item.isDelete==0">{{item.content}}</td>
                                    <td>{{item.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==0">屏蔽</a>
                                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==1">恢复</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 

                    <div class="app-pagination">
                        <ul uib-pagination
                        ng-change=""
                        items-per-page="pageSize"
                        num-pages="pageCount"
                        total-items="rowCount"
                        ng-model="pageIndex"
                        max-size="5"
                        boundary-links="true"
                        rotate="true"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"></ul>
                        <div class="pageTo">
                            <input type="number" placeholder="输入页数" ng-model="pageIndex">
                        </div>
                    </div> 
            </div>
        </div>

</div>