<div id="cir_list">
    <div class="app-alert" ng-class="{'active':hasMsg}">
        <div class="inner">{{msg}}</div>
    </div>

	<div class="app-filter">
		<div class="r">	
            <div class="app-input-date">
                <input class="input" type="text" ng-change="get_list()" ng-model="date_get" date-picker placeholder="发表日期">
                <button class="input-addon" type="button">
                    <i class="glyphicon dataaddon"></i>
                </button>
            </div>
            <div class="app-input-search">
                <input class="input" type="text" placeholder="输入关键字搜索" ng-model="list_get.search" ng-keypress="search($event)">
                <button class="input-addon" type="button" ng-click="get_list()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>


        <div class="rx">
        	<button class="app-button-primary rx-button" ui-sref="cir_edit" type="button">新增话题</button>
        </div>
	</div>

    <!-- 展板 -->
    <div class="app-display-board" ng-show="true">
        <div class="l">
            <div class="inner">
                <div class="item">
                    <a href="javascript:void(0);" ng-click="get_class(3)" ng-class="{'activex':list_get.status == 2}">
                        <p class="t">{{top.recommand}}</p>
                        <p class="b">推荐话题</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="get_class(2)" ng-class="{'activex':list_get.status == 2}">
                        <p class="t">{{top.inside}}</p>
                        <p class="b">平台发布</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="get_class(1)" ng-class="{'activex':list_get.status == 1}">
                        <p class="t">{{top.appUser}}</p>
                        <p class="b">网友发布</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="get_class(0)" ng-class="{'activex':true}">
                        <p class="t-show">显示全部</p>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格 -->
    <!-- 表格图片 -->
    <div class="cont">
        <div class="pic_view" ng-show="false">
            <img ng-src="{{shareImg}}" alt="" />
            <button class="delpic" type="button" ng-click="clearImg()"></button>
        </div>
        <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadPic" nv-file-select="" uploader="uploadPic" />
        <span class="tip" ng-show="false">{{uploadVideo.queue[0].progress}} %</span>
        <span class="err" ng-show="false">{{picUploadErr || "请上传文章封面图"}}</span>
    </div>

    <div class="app-table-box">
        <table class="app-table">
            <thead>
                <tr>
                    <th>推荐</th>
                    <th>话题图片</th>
                    <th>话题标题</th>
                    <th>发布者</th>
                    <th>发布时间</th>
                    <th>参与人数</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listd" ng-show="listd">
                    <td><img ng-show="item.recommandOrder==0" src="img/tuijianno.png"><img ng-show="item.recommandOrder==1" src="img/tuijian.png"></td>
                    <td><div class="cirimg"><img class="cirimgx" ng-src="{{item.img}}" /></div></td>

                    <td>{{item.topic}}</td>
                    <td>{{item.createType==2 ? '网友':'平台'}}</td>
                    <td>ddd</td>
                    <!-- <td>{{item.createDate | date:"yyyy/MM/dd HH:mm"}}</td> -->
                    <td>{{item.joinNumbers}}</td>
                	<td>
                		<a href="javascript:void(0);" ng-click="clickBtnPic(item)" ng-show="true">修改图片</a>
                        <a href="javascript:void(0);" ng-click="goCirInfo(item)" ng-show="true">详情</a>
                        <a href="javascript:void(0);" ng-click="cgRecommandOrder(item)" ng-show="true">{{item.recommandOrder==1?'取消推荐':'推荐'}}</a>

                	</td>
                </tr>
            </tbody>
        </table>
        <div class="table-nodata" ng-show="!list.length">暂无数据</div>
    </div>
    <div class="app-pagination">
        <ul uib-pagination
        ng-change="pageChanged(this_page)"
        items-per-page="pageAll.pageSize"
        num-pages="pageAll.pageCount"
        total-items="pageAll.rowCount"
        ng-model="this_page"
        max-size="5"
        boundary-links="true"
        rotate="true"
        first-text="&laquo;"
        last-text="&raquo;"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"></ul>
        <div class="pageTo">
            <input type="number" placeholder="输入页数" ng-model="pageTo">
        </div>
    </div>

</div>