<div id="cir_edit">
<show-msg inn="1" ruter="showyes" innc="show" intop="70" inleft="45" inhtml='{{inhtml}}'></show-msg>
       <div class="app-filter">
            <div class="nav-left">  
                <ol class="breadcrumb">
                    <a ui-sref="cir_list"><i class="data-addon"></i></a>
                  <li><a ui-sref="cir_list">话题管理</a></li>
                  <!-- <li><a href="#">Library</a></li> -->
                  <li class="active">{{allx.topic}}</li>
                      <div class="rx">
                        </div>
                </ol>
            </div>
        </div>



        <div class="app-display-board">
            <div class="l">
                <div class="l-head"></div>
                <div class="postLeft">
                 <div class="post">
                        <div class="post_title">{{allx.topic}}</div>
                        <div class="post_nav">已有0人参与 0张照片</div>
                        <img class="post_img" ng-src="{{allx.img}}">
                        <div class="post_content">{{allx.content}}</div>
               	 </div>
                 </div>

            </div>
            <div class="r">
                    <!-- 表格 -->
                    <div class="app-table-box">
                        <table class="app-table">
                            <thead>
                                <tr>
                                    <th>参与者</th>
                                    <th>动态内容</th>
                                    <th>查看照片</th>
                                    <th>发表时间</th>
                                    <th>操作</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" ng-show="list">
                                    <td>{{item.nickName}}</td>
                                    <td ng-show="item.isDelete==1"><s>{{item.content}}</s></td>
                                    <td ng-show="item.isDelete==0">{{item.content}}</td>

                                    <td ng-click="testx(item.imgList)" class="picLook"><img ng-show="item.imgList.length>0" ng-src="{{item.imgList[0]}}" /><span>{{item.imgList.length}}张</span></td>
                                    <td>{{item.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==0">屏蔽动态</a>
                                        <a href="javascript:void(0);" ng-click="shield(item)" ng-show="item.isDelete==1">恢复</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 

                    <div class="app-pagination">
                        <ul uib-pagination
                        ng-change="pageChanged(pageIndex)"
                        items-per-page="pageList.pageSize"
                        num-pages="pageList.pageCount"
                        total-items="pageList.rowCount"
                        ng-model="pageIndex"
                        max-size="5"
                        boundary-links="true"
                        rotate="true"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"></ul>
                        <div class="pageTo">
                            <input type="number" placeholder="输入页数" ng-model="pageIndex">
                        </div>
                    </div> 
            </div>
        </div>
        <show-msg inn="1" ruter="true" innc="noho" intop="11" inleft="80" data-nt="刮风这天"></show-msg>

</div>