<div>
    <div class="modal-header">
        <h3 class="modal-title">物流信息</h3>
    </div>
    <div class="modal-body">
        <ul class="baseInfo">
            <li>
                <div class="l">物流状态：</div>
                <div class="r">
                    <span class="v">{{logisticsInfo.StateName}}</span>
                </div>
            </li>
            <li>
                <div class="l">承运商家：</div>
                <div class="r">
                    <span class="v">{{logisticsInfo.ShipperCode}}</span>
                    <!-- <span class="v">（{{logisticsInfo.typeName}}）</span> -->
                    <!-- <button class="alter" ng-show="!sellerAlterFlag" type="button" ng-click="alterSeller()">修改</button>
                    <input type="text" ng-show="sellerAlterFlag" ng-keypress="alterLogistics($event)" ng-model="logisticsInfo.type2" placeholder="请填入物流类型">
                    <button class="cancel" ng-show="sellerAlterFlag" type="button" ng-click="alterSellerCancel()">取消</button> -->
                </div>
            </li>
            <li>
                <div class="l">运单编号：</div>
                <div class="r">
                    <span class="v">{{logisticsInfo.LogisticCode}}</span>
                    <!-- <button class="alter" ng-show="!noAlterFlag" type="button" ng-click="alterNo()">修改</button>
                    <input type="text" ng-show="noAlterFlag" ng-keypress="alterLogistics($event)" ng-model="logisticsInfo.number2" placeholder="请填入运单编号">
                    <button class="cancel" ng-show="noAlterFlag" type="button" ng-click="alterNoCancle()">取消</button> -->
                </div>
            </li>
            <!-- <li>
                <div class="l">官方电话：</div>
                <div class="r">
                    <span class="v">{{logisticsInfo.phone}}</span>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">包裹追踪</h3>
    </div>
    <div class="modal-body">
        <div class="packageInfo">
            <table>
				<thead>
					<tr><th>时间</th><th></th><th>地点和跟踪进度</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="item  in logisticsInfo.Traces">
						<td>{{item.AcceptTime}}</td><td>↑</td><td>{{item.AcceptStation}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" autofocus="autofocus" tabindex="-1" ng-click="cancel()">关闭</button>
    </div>
</div>
