<div class="modal-body">
    <button class="close" type="button" name="button" ng-click="cancel()"></button>
    <div class="l">
        <div class="inner">
            <button class="arrow arrow-l" ng-disabled="step === 1" ng-click="step=step-1"></button>
            <button class="arrow arrow-r" ng-disabled="step === 3" ng-click="step=step+1"></button>
            <div class="phone phone-step1" ng-class="{'rpluck':rp.uCoin>0,'rpordinary':rp.vip===0&&!rp.uCoin,'rpvip':rp.vip===1&&!rp.uCoin,}" ng-show="step === 1">
                <div class="logo">
                    <img ng-src="{{rp.logo}}" alt="" />
                </div>
                <div class="tit">{{rp.introduce1}}</div>
                <div class="name">{{rp.name}}的现金红包</div>
                <div class="ub" ng-show="rp.uCoin">{{rp.uCoin*0.01}}<span>U</span></div>
            </div>
            <div class="phone phone-step2" ng-show="step === 2">
                <div class="img-content">
                    <img ng-src="{{imgList[imgList.length-1]}}" alt="" />
                </div>
                <div class="content">
                    <div class="desc1">
                        <span ng-show="rp.uCoin>0">{{rp.name}}的现金红包</span>
                        <span ng-show="rp.uCoin<=0">距离红包开抢时间</span>
                    </div>
                    <div class="desc2" ng-show="rp.uCoin>0">{{rp.stageNumber}}个红包共{{rp.totalMoney/rp.count*rp.stageNumber | number:2}}元</div>
                    <div class="desc2" ng-show="rp.uCoin<=0">00:00:00</div>
                    <div class="desc3">{{rp.introduce1}}</div>
                    <div class="desc4" ng-show="rp.uCoin>0">本期剩余{{rp.stageNumber}}个红包</div>
                    <!-- <div class="desc4" ng-show="rp.uCoin<=0">0人关注次红包</div> -->
                </div>
                <div class="bg"></div>
            </div>
            <div class="phone phone-step3" ng-show="step === 3">
                <div class="content-2">
                    <div class="atc-head">{{rp.introduce1}}</div>
                    <div class="atc-name">
                        <div class="logo">
                            <img ng-src="{{rp.logo}}" alt="" />
                        </div>
                        <div class="name">{{rp.name}}</div>
                        <div class="time">{{ rp.verifyTime || now | date : 'yyyy-MM-dd HH:mm'}}</div>
                    </div>
                    <div class="atc-con" ng-bind-html="tpl"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="r">
        <div class="content">
            <div class="content-row">
                <div class="row-label">红包类型：</div>
                <div class="row-val">{{rp.rpType}}</div>
            </div>
            <div class="content-row">
                <div class="row-label">红包个数：</div>
                <div class="row-val">{{rp.count}}个 <span ng-show="rp.uCoin>0">（共{{rp.count/rp.stageNumber}}期/每期{{rp.stageNumber}}个）</span> </div>
            </div>
            <div class="content-row">
                <div class="row-label">红包均价：</div>
                <div class="row-val"><b>{{rp.totalMoney/rp.count | currency:"￥":2}}</b></div>
            </div>
            <div class="content-row">
                <div class="row-label">红包金额：</div>
                <div class="row-val"><b>{{rp.totalMoney | currency:"￥":2}}</b></div>
            </div>
            <div class="content-row" ng-show="rp.uCoin>0">
                <div class="row-label">投放统计：</div>
                <div class="row-val">
                    收入<b>{{rp.uCoin*rp.count*0.001 | currency:"￥":2}}</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    补贴<b>{{rp.totalMoney-rp.uCoin*rp.count*0.001 | currency:"￥":2}}</b>
                </div>
            </div>
            <div class="btn-box">
                <button class="app-button-default" ng-click="cancel()" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
