<div id="sysset_goods_addnew">
    <show-msg inn="1" ruter="showyes" innc="show" intop="70" inleft="45" inhtml='{{inhtml}}'></show-msg>
    <div class="inner">
        <div class="r">
            <div class="form_row">
                <div class="tit">
                    <span>是否置顶：</span>
                </div>
                <div class="cont">
                    <label class="radio_label">
                        <input type="radio" value="1" ng-change="step = 1" ng-model="top">
                        <i class="icon"></i>
                        <span>是</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" value="0" ng-change="step = 1" ng-model="top">
                        <i class="icon"></i>
                        <span>否</span>
                    </label>
                </div>
            </div>

            <div class="form_row">
                <div class="tit">
                    <span>是否推荐：</span>
                </div>
                <div class="cont">
                    <label class="radio_label">
                        <input type="radio" value="1" ng-change="step = 1" ng-model="recommend">
                        <i class="icon"></i>
                        <span>是</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" value="0" ng-change="step = 1" ng-model="recommend">
                        <i class="icon"></i>
                        <span>否</span>
                    </label>
                </div>
            </div>


            <div class="form_row">
                <div class="tit">
                    <span>商品分类：</span>
                </div>
                <div class="cont">
                    <select class="select_type" ng-change="step = 1" ng-options="i.name for i in goodsType track by i.id" ng-model="sec"></select>
                </div>
            </div>
            <div class="form_row">
                <div class="tit">
                    <span>商品标题：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" type="text" ng-model="title" ng-focus="step = 1" placeholder="请输入商品标题">
                    <!-- <span class="err" ng-show="noTit">请输入商品标题</span> -->
                </div>
            </div>


            <div class="form_row mar_b">
                <div class="tit">
                    <span>上传封面：</span>
                </div>
                <div class="cont">
                    <div class="pic_view" ng-show="previewUrl">
                        <div class="inner">
                            <img ng-src="{{previewUrl}}" alt="" />
                        </div>
                        <button class="delpic" ng-click="delFM()" type="button"></button>
                    </div>
                    <button class="add_pic_btn" ng-show="!previewUrl" type="button" name="button" ng-click="clickAddFM()"></button>
                    <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadFM" nv-file-select="" uploader="uploadFM" />
                    <span class="tip" ng-show="!uploadFM.queue[0].progress">支持jpg格式，800*450 72dpi</span>
                    <span class="tip" ng-show="!!uploadFM.queue[0].progress">{{uploadFM.queue[0].progress}} %</span>
                    <span class="err" ng-show="picUploadErr || noPreviewUrl">{{picUploadErr || "请上传文章封面图"}}</span>
                </div>
            </div>


            <div class="form_row mar_b">
                <div class="tit">
                    <span>轮播图片：</span>
                </div>
                <div class="cont">
                    <div class="pic_view" ng-repeat="item in imgList">
                        <div class="inner">
                            <img ng-src="{{item}}" alt="" />
                        </div>
                        <button class="delpic" ng-click="delBanner($index)" type="button"></button>
                    </div>
                    <button class="add_pic_btn" type="button" name="button" ng-click="clickAddBanner()"></button>
                    <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadBanner" nv-file-select="" uploader="uploadBanner" />
                    <span class="tip" ng-show="!uploadBanner.queue[0].progress">支持jpg格式，800*350 72dpi</span>
                    <span class="tip" ng-show="!!uploadBanner.queue[0].progress">{{uploadBanner.queue[0].progress}} %</span>
                    <span class="err" ng-show="picUploadErr || noImgList">{{picUploadErr || "请上传轮播图"}}</span>
                </div>
            </div>


            <div class="form_row">
                <div class="tit">
                    <span>商品原价：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" ng-class="{'has_err':noNumber}" type="number" ng-model="originalPrice" ng-focus="step = 1" placeholder="请输入商品原价格">
                    <span class="tip">商品原价格为大于0的整数</span>
                </div>
            </div>


            <div class="form_row">
                <div class="tit">
                    <span>商品现价：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" ng-class="{'has_err':noNumber}" type="number" ng-model="price" ng-focus="step = 1" placeholder="请输入商品现价格">
                    <span class="tip">商品现价格为大于0的整数</span>
                </div>
            </div>

            <div class="form_row">
                <div class="tit">
                    <span>U币优惠：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" ng-class="{'has_err':noNumber}" type="number" ng-model="ucoin" ng-focus="step = 1" placeholder="请输入优惠的U币价格">
                    <span class="tip">U币优惠为大于0的整数</span>
                </div>
            </div>

            <div class="form_row">
                <div class="tit">
                    <span>所有库存：</span>
                </div>
                <div class="cont">
                    <input class="form_ipt" ng-class="{'has_err':noNumber}" type="number" ng-model="remainNumber" ng-focus="step = 1" placeholder="请输入库存数量">
                    <span class="tip">大于0的整数</span>
                </div>
            </div>

             <div class="form_row">
                <div class="tit">
                    <span>图文信息：</span>
                </div>
                <div class="cont">
                    <app-editor-mu ng-model="content" ng-click="step = 2"></app-editor-mu>
                </div>
                <p class="err_block" ng-show="noGoodsInfo">请编辑内容</p>
            </div>
            <div class="form_row">
                <div class="tit"></div>
                <div class="cont">

                    <button class="app-button-primary" type="button" ng-click="pubYes()">提交</button>
                    <!-- <button class="app-button-default" ng-show="!treasure.id" type="button" ng-click="putNew()">重置</button> -->
                    <i class="loading" ng-show="loading"></i>
                    <span class="err" ng-show="errMsg">{{errMsg}}</span>
                    <span class="succ" ng-show="succMsg">{{succMsg}}</span>
                </div>
            </div>



        </div>
    </div>
</div>
