<div id="sysset_blacklist">
 <show-msg inn="1" ruter="showyes" innc="show" intop="40" inleft="45" inhtml='{{inhtml}}'></show-msg>

    <div class="app-filter">
        <div class="r"> 
            <div class="app-input-search">
                <input class="input" type="text" placeholder="输入关键字搜索" ng-model="search">
                <button class="input-addon" type="button" ng-click="getList()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>


        <div class="rx">
            <button class="app-button-primary rx-button" ng-click="addNewWord()" type="button">新增关键字</button>
        </div>
    </div>


    <!-- 表格 -->
    <div class="app-table-box">
        <table class="app-table">
            <thead>
                <tr>
                    <th>关键词</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.data">
                    <td>{{item.value}}</td>
                    
                        <!-- <a href="javascript:void(0);" ui-sref="bbs_post_edit({postid:item.id,canedit:0})" ng-show="true">详情</a> -->
                    <td>
                        <a href="javascript:void(0);" ng-click="del(item)" ng-show="true">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-pagination">
        <ul uib-pagination
        ng-change=""
        items-per-page="list.pageSize"
        num-pages="list.pageCount"
        total-items="list.rowCount"
        ng-model="pageIndex"
        max-size="5"
        boundary-links="true"
        rotate="true"
        first-text="&laquo;"
        last-text="&raquo;"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"></ul>
        <div class="pageTo">
            <input type="number" placeholder="输入页数" ng-model="pageIndex">
        </div>
    </div>

</div>