<div id="user_ctl">
    <div class="app-alert" ng-class="{'active':hasMsg}">
        <div class="inner">{{msg}}</div>
    </div>

	<div class="app-filter">
		<div class="r">
            <div class="app-select">
                <select label='测试' class="select_type" ng-change="" ng-options="i.name for i in option_list track by i.id" ng-model="sec"></select>
                <!-- <select ng-options="i.name for i in types track by i.id" ng-model="artType" ng-change="currentPage=1;getList()"></select> -->
            </div>
            <div class="app-input-search">
                <input class="input" type="text" placeholder="输入用户名搜索" ng-model="par.search" ng-keypress="getList()">
                <button class="input-addon" type="button" ng-click="getList()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
	</div>

    <!-- 展板 -->
    <div class="app-display-board" ng-show="true">
        <div class="l">
            <div class="inner">
                <div class="item">
                    <!-- * status：1待审核，2通过，3拒绝，4下线 -->
                    <a href="javascript:void(0);" ng-click="changeS(1)" ng-class="{'active':par.type == 1}">
                        <p class="t">{{allTop.dayCount | number : 0}}</p>
                        <p class="b">今日活跃用户</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeS(2)" ng-class="{'active':par.type == 2}">
                        <p class="t">{{allTop.weekCount | number : 0}}</p>
                        <p class="b">7日活跃用户</p>
                    </a>
                </div>
<!--                 <div class="item">
                    <a href="javascript:void(0);" ng-click="changeStatus(3)" ng-class="{'active':status === 3}">
                        <p class="t">{{report.statusFail | number : 0}}</p>
                        <p class="b">本月活跃用户</p>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="r">
            <div class="inner">
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeS(3)" ng-class="{'active':par.type == 3}">
                        <p class="t">{{allTop.dayNewUser | number:0}}</p>
                        <p class="b">今日新增用户</p>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:void(0);" ng-click="changeS(0)" ng-class="{'active':par.type == 0}">
                        <p class="t">{{allTop.allUser | number : 0}}</p>
                        <p class="b">用户总数</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 表格 -->
    <div class="app-table-box">
        <table class="app-table">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>用户账号</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>身高</th>
                    <th>星座</th>
                    <th>魅力</th>
                    <!-- <th>关注</th> -->
                    <th>粉丝</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.data">
                    <td>{{item.nickName}}</td>
                    <td>{{item.phoneNumber}}</td>

                    <td ng-show="item.gender==2">女</td>
                    <td ng-show="item.gender==1">男</td>
                    <td ng-show="item.gender==0">未知</td>

                    <td>{{item.age?item.age:'未知'}}</td>
                    <td>{{item.height?item.age:'未知'}}</td>
                    <td>{{item.constellation}}</td>
                    <td>{{item.charm}}</td>
                    <td>{{item.fansCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-pagination">
        <ul uib-pagination
        ng-change=""
        items-per-page="list.pageSize"
        num-pages="list.pageCount"
        total-items="list.rowCount"
        ng-model="pageIndex"
        max-size="5"
        boundary-links="true"
        rotate="true"
        first-text="&laquo;"
        last-text="&raquo;"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"></ul>
        <div class="pageTo">
            <input type="number" placeholder="输入页数" ng-model="pageIndex">
        </div>
    </div>

</div>
