<div class="vote_container">
    <h1>发布投票</h1>
    <div class="warpper">
        <div class="l">
            <div class="form_row">
                <div class="fow_label">活动标题：</div>
                <div class="fow_cont">
                    <input class="form_ipt" ng-class="{'ipt-error':titleInValid}" ng-keyup="checkTitle()" type="text" ng-model="votePost.title" placeholder="请输入任务标题">
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">封面图片：</div>
                <div class="fow_cont">
                    <div ng-show="!votePost.coverPhoto">
                        <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadCoverPhoto" nv-file-select="" uploader="uploadCoverPhoto" />
                        <button class="addpic" ng-class="{'ipt-error':coverPhotoInValid}" type="button" ng-click="addCoverPhoto()"></button>
                        <span class="tip">支持jpg/png格式，RGB模式，640*320 72dpi</span>
                    </div>
                    <div class="pic_view" ng-show="votePost.coverPhoto">
                        <button type="button" ng-click="delCoverPhoto()">
                            <i class="icon"></i>
                        </button>
                        <p class="pic">
                            <img ng-src="{{votePost.coverPhoto}}" alt="">
                        </p>
                    </div>
                </div>
            </div>

            <div class="form_row">
                <div class="fow_label">活动主题：</div>
                <div class="fow_cont">
                    <textarea ng-class="{'ipt-error':actProfileInValid}" ng-keydown="checkActProfile()" placeholder="请输入活动介绍" ng-model="votePost.actProfile"></textarea>
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">报名时间：</div>
                <div class="fow_cont">
                    <div class="form_date">
                        <input type="text" ng-model="votePost.signupStart" date-time-picker placeholder="开始时间">
                        <button type="button" class="ipt_addon date-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <span class="to">到</span>
                    <div class="form_date">
                        <input ng-class="{'ipt-error':signupEndInValid}" type="text" ng-change="checkSignupEnd()" ng-model="votePost.signupEnd" date-time-picker placeholder="结束时间">
                        <button type="button" class="ipt_addon date-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">投票时间：</div>
                <div class="fow_cont">
                    <div class="form_date">
                        <input type="text" ng-model="votePost.voteStart" date-time-picker placeholder="开始时间">
                        <button type="button" class="ipt_addon date-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <span class="to">到</span>
                    <div class="form_date">
                        <input ng-class="{'ipt-error':voteEndInValid}" type="text" ng-change="checkVoteEnd()" ng-model="votePost.voteEnd" date-time-picker placeholder="结束时间">
                        <button type="button" class="ipt_addon date-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">报名规则：</div>
                <div class="fow_cont">
                    <p class="" ng-repeat="item in votePost.signUpRule track by $index">
                        <input class="form_ipt w420" type="text" ng-class="{'ipt-error':!item.valid}" ng-keyup="checkSignUpRule(item)" ng-model="item.desc" placeholder="添加参选规则{{$index+1}}">
                        <button class="del" type="button" ng-click="delSignUpRule($index)"></button>
                    </p>
                    <button type="button" class="additem" ng-click="addSignUpRule()">添加参选规则</button>
                </div>
            </div>

            <div class="form_row">
                <div class="fow_label">奖项图片：</div>
                <div class="fow_cont">
                    <div ng-show="!votePost.prizePhoto">
                        <input ng-show="false" type="file" clean-file-value accept="image/*" id="uploadPrizePhoto" nv-file-select="" uploader="uploadPrizePhoto" />
                        <button class="addpic" ng-class="{'ipt-error':prizePhotoInValid}" type="button" ng-click="addPrizePhoto()"></button>
                        <span class="tip">支持jpg/png格式，RGB模式，640*320 72dpi</span>
                    </div>
                    <div class="pic_view" ng-show="votePost.prizePhoto">
                        <button type="button" ng-click="delPrizePhoto()">
                            <i class="icon"></i>
                        </button>
                        <p class="pic">
                            <img ng-src="{{votePost.prizePhoto}}" alt="">
                        </p>
                    </div>
                </div>
            </div>

            <div class="form_row">
                <div class="fow_label">奖项设置：</div>
                <div class="fow_cont">
                    <div ng-repeat="item in votePost.reward" class="reward_item mar_b10">
                        <input class="form_ipt w90" type="text" ng-class="{'ipt-error':!item.gradeValid}" ng-keyup="checkReward(item)" ng-model="item.grade" placeholder="等级">
                        <input class="form_ipt w60" type="text" ng-class="{'ipt-error':!item.numberValid}" ng-keyup="checkReward(item)" ng-model="item.number" placeholder="名额">
                        <input class="form_ipt w240" type="text" ng-class="{'ipt-error':!item.goodsValid}" ng-keyup="checkReward(item)" ng-model="item.goods" placeholder="奖品">
                        <button class="del" type="button" ng-click="delReward($index)"></button>
                    </div>
                    <button type="button" class="additem" ng-click="addReward()">添加奖项</button>
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">投票规则：</div>
                <div class="fow_cont">
                    <p ng-repeat="item in votePost.voteRule">
                        <input class="form_ipt w420" type="text" ng-class="{'ipt-error':!item.valid}" ng-keyup="checkSignUpRule(item)" ng-model="item.desc" placeholder="添加投票规则{{$index+1}}">
                        <button class="del" type="button" ng-click="delVoteRule($index)"></button>
                    </p>
                    <button type="button" class="additem" ng-click="addVoteRule()">添加投票规则</button>
                </div>
            </div>
        </div>
        <div class="r">
            <div class="form_row">
                <div class="fow_label">投票方式：</div>
                <div class="fow_cont">
                    <textarea placeholder="投票方式编辑" ng-model="votePost.voteMethod"></textarea>
                </div>
            </div>
            <!-- <div class="form_row">
                <div class="fow_label">一票多投：</div>
                <div class="fow_cont">
                    <label class="radio_label">
                        <input type="radio" name="multiVote" ng-model="votePost.multiVote" value="0">
                        <i class="icon"></i>
                        <span>否</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="multiVote" ng-model="votePost.multiVote" value="1">
                        <i class="icon"></i>
                        <span>是</span>
                    </label>
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">每日上限：</div>
                <div class="fow_cont">
                    <input class="form_ipt w250" type="text" ng-model="votePost.upperLimit" placeholder="每日被投票数上限 0 代表无上限">
                </div>
            </div> -->
            <!-- <div class="form_row">
                <div class="fow_label">浏览量：</div>
                <div class="fow_cont">
                    <input class="form_ipt w250" type="text" placeholder="设置浏览量基数">
                </div>
            </div> -->
            <div class="form_row">
                <div class="fow_label">组织者：</div>
                <div class="fow_cont clearfix">
                    <input class="form_ipt_sm mar_b10" type="text" ng-model="votePost.orgMain" placeholder="主办单位">
                    <input class="form_ipt_sm mar_b10" type="text" ng-model="votePost.orgSecondary" placeholder="协办单位">
                    <input class="form_ipt_sm mar_b10" type="text" ng-model="votePost.undertaker" placeholder="承办单位">
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">原文链接：</div>
                <div class="fow_cont">
                    <input class="form_ipt" ng-model="votePost.originalLink" placeholder="http(s)://">
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">客服微信：</div>
                <div class="fow_cont clearfix">
                    <input class="form_ipt_sm" type="text" ng-model="votePost.serviceWeixin" placeholder="请输入客服的微信号">
                </div>
            </div>
            <div class="form_row">
                <div class="fow_label">客服手机：</div>
                <div class="fow_cont clearfix">
                    <input class="form_ipt_sm" type="text" ng-model="votePost.servicePhone" placeholder="请输入客服的手机号">
                </div>
            </div>
            <div class="form_row">
                <div class="fow_cont">
                    <button class="app-button-primary" type="button" ng-click="votePut()">发布</button>
                </div>
            </div>
            <p class="put-success" ng-show="success">发布成功</p>
            <p class="put-error" ng-show="error">发布失败，请重试</p>
        </div>
    </div>
</div>
