/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-add-pic-name: 'icon-add-pic';
$icon-add-pic-x: 135px;
$icon-add-pic-y: 144px;
$icon-add-pic-offset-x: -135px;
$icon-add-pic-offset-y: -144px;
$icon-add-pic-width: 44px;
$icon-add-pic-height: 44px;
$icon-add-pic-total-width: 345px;
$icon-add-pic-total-height: 337px;
$icon-add-pic-image: '../../../img/sprite.png';
$icon-add-pic: (135px, 144px, -135px, -144px, 44px, 44px, 345px, 337px, '../../../img/sprite.png', 'icon-add-pic', );
$icon-android-name: 'icon-android';
$icon-android-x: 328px;
$icon-android-y: 60px;
$icon-android-offset-x: -328px;
$icon-android-offset-y: -60px;
$icon-android-width: 16px;
$icon-android-height: 18px;
$icon-android-total-width: 345px;
$icon-android-total-height: 337px;
$icon-android-image: '../../../img/sprite.png';
$icon-android: (328px, 60px, -328px, -60px, 16px, 18px, 345px, 337px, '../../../img/sprite.png', 'icon-android', );
$icon-app-back-name: 'icon-app_back';
$icon-app-back-x: 328px;
$icon-app-back-y: 116px;
$icon-app-back-offset-x: -328px;
$icon-app-back-offset-y: -116px;
$icon-app-back-width: 12px;
$icon-app-back-height: 21px;
$icon-app-back-total-width: 345px;
$icon-app-back-total-height: 337px;
$icon-app-back-image: '../../../img/sprite.png';
$icon-app-back: (328px, 116px, -328px, -116px, 12px, 21px, 345px, 337px, '../../../img/sprite.png', 'icon-app_back', );
$icon-app-read-name: 'icon-app_read';
$icon-app-read-x: 196px;
$icon-app-read-y: 259px;
$icon-app-read-offset-x: -196px;
$icon-app-read-offset-y: -259px;
$icon-app-read-width: 18px;
$icon-app-read-height: 11px;
$icon-app-read-total-width: 345px;
$icon-app-read-total-height: 337px;
$icon-app-read-image: '../../../img/sprite.png';
$icon-app-read: (196px, 259px, -196px, -259px, 18px, 11px, 345px, 337px, '../../../img/sprite.png', 'icon-app_read', );
$icon-app-read-gray-name: 'icon-app_read_gray';
$icon-app-read-gray-x: 328px;
$icon-app-read-gray-y: 197px;
$icon-app-read-gray-offset-x: -328px;
$icon-app-read-gray-offset-y: -197px;
$icon-app-read-gray-width: 17px;
$icon-app-read-gray-height: 10px;
$icon-app-read-gray-total-width: 345px;
$icon-app-read-gray-total-height: 337px;
$icon-app-read-gray-image: '../../../img/sprite.png';
$icon-app-read-gray: (328px, 197px, -328px, -197px, 17px, 10px, 345px, 337px, '../../../img/sprite.png', 'icon-app_read_gray', );
$icon-app-share-name: 'icon-app_share';
$icon-app-share-x: 328px;
$icon-app-share-y: 217px;
$icon-app-share-offset-x: -328px;
$icon-app-share-offset-y: -217px;
$icon-app-share-width: 13px;
$icon-app-share-height: 13px;
$icon-app-share-total-width: 345px;
$icon-app-share-total-height: 337px;
$icon-app-share-image: '../../../img/sprite.png';
$icon-app-share: (328px, 217px, -328px, -217px, 13px, 13px, 345px, 337px, '../../../img/sprite.png', 'icon-app_share', );
$icon-app-share-gray-name: 'icon-app_share_gray';
$icon-app-share-gray-x: 328px;
$icon-app-share-gray-y: 240px;
$icon-app-share-gray-offset-x: -328px;
$icon-app-share-gray-offset-y: -240px;
$icon-app-share-gray-width: 13px;
$icon-app-share-gray-height: 12px;
$icon-app-share-gray-total-width: 345px;
$icon-app-share-gray-total-height: 337px;
$icon-app-share-gray-image: '../../../img/sprite.png';
$icon-app-share-gray: (328px, 240px, -328px, -240px, 13px, 12px, 345px, 337px, '../../../img/sprite.png', 'icon-app_share_gray', );
$icon-arrow-l-name: 'icon-arrow-l';
$icon-arrow-l-x: 272px;
$icon-arrow-l-y: 0px;
$icon-arrow-l-offset-x: -272px;
$icon-arrow-l-offset-y: 0px;
$icon-arrow-l-width: 16px;
$icon-arrow-l-height: 30px;
$icon-arrow-l-total-width: 345px;
$icon-arrow-l-total-height: 337px;
$icon-arrow-l-image: '../../../img/sprite.png';
$icon-arrow-l: (272px, 0px, -272px, 0px, 16px, 30px, 345px, 337px, '../../../img/sprite.png', 'icon-arrow-l', );
$icon-arrow-r-name: 'icon-arrow-r';
$icon-arrow-r-x: 242px;
$icon-arrow-r-y: 144px;
$icon-arrow-r-offset-x: -242px;
$icon-arrow-r-offset-y: -144px;
$icon-arrow-r-width: 16px;
$icon-arrow-r-height: 30px;
$icon-arrow-r-total-width: 345px;
$icon-arrow-r-total-height: 337px;
$icon-arrow-r-image: '../../../img/sprite.png';
$icon-arrow-r: (242px, 144px, -242px, -144px, 16px, 30px, 345px, 337px, '../../../img/sprite.png', 'icon-arrow-r', );
$icon-back-name: 'icon-back';
$icon-back-x: 272px;
$icon-back-y: 40px;
$icon-back-offset-x: -272px;
$icon-back-offset-y: -40px;
$icon-back-width: 8px;
$icon-back-height: 14px;
$icon-back-total-width: 345px;
$icon-back-total-height: 337px;
$icon-back-image: '../../../img/sprite.png';
$icon-back: (272px, 40px, -272px, -40px, 8px, 14px, 345px, 337px, '../../../img/sprite.png', 'icon-back', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 28px;
$icon-checked-y: 319px;
$icon-checked-offset-x: -28px;
$icon-checked-offset-y: -319px;
$icon-checked-width: 18px;
$icon-checked-height: 18px;
$icon-checked-total-width: 345px;
$icon-checked-total-height: 337px;
$icon-checked-image: '../../../img/sprite.png';
$icon-checked: (28px, 319px, -28px, -319px, 18px, 18px, 345px, 337px, '../../../img/sprite.png', 'icon-checked', );
$icon-close-name: 'icon-close';
$icon-close-x: 328px;
$icon-close-y: 147px;
$icon-close-offset-x: -328px;
$icon-close-offset-y: -147px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 345px;
$icon-close-total-height: 337px;
$icon-close-image: '../../../img/sprite.png';
$icon-close: (328px, 147px, -328px, -147px, 16px, 16px, 345px, 337px, '../../../img/sprite.png', 'icon-close', );
$icon-date-addon-name: 'icon-date-addon';
$icon-date-addon-x: 298px;
$icon-date-addon-y: 241px;
$icon-date-addon-offset-x: -298px;
$icon-date-addon-offset-y: -241px;
$icon-date-addon-width: 19px;
$icon-date-addon-height: 20px;
$icon-date-addon-total-width: 345px;
$icon-date-addon-total-height: 337px;
$icon-date-addon-image: '../../../img/sprite.png';
$icon-date-addon: (298px, 241px, -298px, -241px, 19px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-date-addon', );
$icon-del-name: 'icon-del';
$icon-del-x: 0px;
$icon-del-y: 319px;
$icon-del-offset-x: 0px;
$icon-del-offset-y: -319px;
$icon-del-width: 18px;
$icon-del-height: 18px;
$icon-del-total-width: 345px;
$icon-del-total-height: 337px;
$icon-del-image: '../../../img/sprite.png';
$icon-del: (0px, 319px, 0px, -319px, 18px, 18px, 345px, 337px, '../../../img/sprite.png', 'icon-del', );
$icon-dfzz-name: 'icon-dfzz';
$icon-dfzz-x: 122px;
$icon-dfzz-y: 219px;
$icon-dfzz-offset-x: -122px;
$icon-dfzz-offset-y: -219px;
$icon-dfzz-width: 27px;
$icon-dfzz-height: 25px;
$icon-dfzz-total-width: 345px;
$icon-dfzz-total-height: 337px;
$icon-dfzz-image: '../../../img/sprite.png';
$icon-dfzz: (122px, 219px, -122px, -219px, 27px, 25px, 345px, 337px, '../../../img/sprite.png', 'icon-dfzz', );
$icon-ewm-name: 'icon-ewm';
$icon-ewm-x: 298px;
$icon-ewm-y: 211px;
$icon-ewm-offset-x: -298px;
$icon-ewm-offset-y: -211px;
$icon-ewm-width: 20px;
$icon-ewm-height: 20px;
$icon-ewm-total-width: 345px;
$icon-ewm-total-height: 337px;
$icon-ewm-image: '../../../img/sprite.png';
$icon-ewm: (298px, 211px, -298px, -211px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-ewm', );
$icon-ggz-name: 'icon-ggz';
$icon-ggz-x: 84px;
$icon-ggz-y: 219px;
$icon-ggz-offset-x: -84px;
$icon-ggz-offset-y: -219px;
$icon-ggz-width: 28px;
$icon-ggz-height: 25px;
$icon-ggz-total-width: 345px;
$icon-ggz-total-height: 337px;
$icon-ggz-image: '../../../img/sprite.png';
$icon-ggz: (84px, 219px, -84px, -219px, 28px, 25px, 345px, 337px, '../../../img/sprite.png', 'icon-ggz', );
$icon-gw-name: 'icon-gw';
$icon-gw-x: 298px;
$icon-gw-y: 0px;
$icon-gw-offset-x: -298px;
$icon-gw-offset-y: 0px;
$icon-gw-width: 20px;
$icon-gw-height: 21px;
$icon-gw-total-width: 345px;
$icon-gw-total-height: 337px;
$icon-gw-image: '../../../img/sprite.png';
$icon-gw: (298px, 0px, -298px, 0px, 20px, 21px, 345px, 337px, '../../../img/sprite.png', 'icon-gw', );
$icon-help-name: 'icon-help';
$icon-help-x: 56px;
$icon-help-y: 289px;
$icon-help-offset-x: -56px;
$icon-help-offset-y: -289px;
$icon-help-width: 18px;
$icon-help-height: 19px;
$icon-help-total-width: 345px;
$icon-help-total-height: 337px;
$icon-help-image: '../../../img/sprite.png';
$icon-help: (56px, 289px, -56px, -289px, 18px, 19px, 345px, 337px, '../../../img/sprite.png', 'icon-help', );
$icon-id-f-name: 'icon-id-f';
$icon-id-f-x: 80px;
$icon-id-f-y: 0px;
$icon-id-f-offset-x: -80px;
$icon-id-f-offset-y: 0px;
$icon-id-f-width: 86px;
$icon-id-f-height: 55px;
$icon-id-f-total-width: 345px;
$icon-id-f-total-height: 337px;
$icon-id-f-image: '../../../img/sprite.png';
$icon-id-f: (80px, 0px, -80px, 0px, 86px, 55px, 345px, 337px, '../../../img/sprite.png', 'icon-id-f', );
$icon-id-z-name: 'icon-id-z';
$icon-id-z-x: 176px;
$icon-id-z-y: 0px;
$icon-id-z-offset-x: -176px;
$icon-id-z-offset-y: 0px;
$icon-id-z-width: 86px;
$icon-id-z-height: 54px;
$icon-id-z-total-width: 345px;
$icon-id-z-total-height: 337px;
$icon-id-z-image: '../../../img/sprite.png';
$icon-id-z: (176px, 0px, -176px, 0px, 86px, 54px, 345px, 337px, '../../../img/sprite.png', 'icon-id-z', );
$icon-ios-name: 'icon-ios';
$icon-ios-x: 328px;
$icon-ios-y: 88px;
$icon-ios-offset-x: -328px;
$icon-ios-offset-y: -88px;
$icon-ios-width: 16px;
$icon-ios-height: 18px;
$icon-ios-total-width: 345px;
$icon-ios-total-height: 337px;
$icon-ios-image: '../../../img/sprite.png';
$icon-ios: (328px, 88px, -328px, -88px, 16px, 18px, 345px, 337px, '../../../img/sprite.png', 'icon-ios', );
$icon-modal-close-name: 'icon-modal-close';
$icon-modal-close-x: 0px;
$icon-modal-close-y: 219px;
$icon-modal-close-offset-x: 0px;
$icon-modal-close-offset-y: -219px;
$icon-modal-close-width: 30px;
$icon-modal-close-height: 30px;
$icon-modal-close-total-width: 345px;
$icon-modal-close-total-height: 337px;
$icon-modal-close-image: '../../../img/sprite.png';
$icon-modal-close: (0px, 219px, 0px, -219px, 30px, 30px, 345px, 337px, '../../../img/sprite.png', 'icon-modal-close', );
$icon-mtz-name: 'icon-mtz';
$icon-mtz-x: 159px;
$icon-mtz-y: 219px;
$icon-mtz-offset-x: -159px;
$icon-mtz-offset-y: -219px;
$icon-mtz-width: 23px;
$icon-mtz-height: 25px;
$icon-mtz-total-width: 345px;
$icon-mtz-total-height: 337px;
$icon-mtz-image: '../../../img/sprite.png';
$icon-mtz: (159px, 219px, -159px, -219px, 23px, 25px, 345px, 337px, '../../../img/sprite.png', 'icon-mtz', );
$icon-nav-ads-act-name: 'icon-nav-ads-act';
$icon-nav-ads-act-x: 298px;
$icon-nav-ads-act-y: 91px;
$icon-nav-ads-act-offset-x: -298px;
$icon-nav-ads-act-offset-y: -91px;
$icon-nav-ads-act-width: 20px;
$icon-nav-ads-act-height: 20px;
$icon-nav-ads-act-total-width: 345px;
$icon-nav-ads-act-total-height: 337px;
$icon-nav-ads-act-image: '../../../img/sprite.png';
$icon-nav-ads-act: (298px, 91px, -298px, -91px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-ads-act', );
$icon-nav-ads-name: 'icon-nav-ads';
$icon-nav-ads-x: 298px;
$icon-nav-ads-y: 31px;
$icon-nav-ads-offset-x: -298px;
$icon-nav-ads-offset-y: -31px;
$icon-nav-ads-width: 20px;
$icon-nav-ads-height: 20px;
$icon-nav-ads-total-width: 345px;
$icon-nav-ads-total-height: 337px;
$icon-nav-ads-image: '../../../img/sprite.png';
$icon-nav-ads: (298px, 31px, -298px, -31px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-ads', );
$icon-nav-art-act-name: 'icon-nav-art-act';
$icon-nav-art-act-x: 0px;
$icon-nav-art-act-y: 289px;
$icon-nav-art-act-offset-x: 0px;
$icon-nav-art-act-offset-y: -289px;
$icon-nav-art-act-width: 18px;
$icon-nav-art-act-height: 20px;
$icon-nav-art-act-total-width: 345px;
$icon-nav-art-act-total-height: 337px;
$icon-nav-art-act-image: '../../../img/sprite.png';
$icon-nav-art-act: (0px, 289px, 0px, -289px, 18px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-art-act', );
$icon-nav-art-name: 'icon-nav-art';
$icon-nav-art-x: 28px;
$icon-nav-art-y: 289px;
$icon-nav-art-offset-x: -28px;
$icon-nav-art-offset-y: -289px;
$icon-nav-art-width: 18px;
$icon-nav-art-height: 20px;
$icon-nav-art-total-width: 345px;
$icon-nav-art-total-height: 337px;
$icon-nav-art-image: '../../../img/sprite.png';
$icon-nav-art: (28px, 289px, -28px, -289px, 18px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-art', );
$icon-nav-finance-act-name: 'icon-nav-finance-act';
$icon-nav-finance-act-x: 64px;
$icon-nav-finance-act-y: 259px;
$icon-nav-finance-act-offset-x: -64px;
$icon-nav-finance-act-offset-y: -259px;
$icon-nav-finance-act-width: 22px;
$icon-nav-finance-act-height: 20px;
$icon-nav-finance-act-total-width: 345px;
$icon-nav-finance-act-total-height: 337px;
$icon-nav-finance-act-image: '../../../img/sprite.png';
$icon-nav-finance-act: (64px, 259px, -64px, -259px, 22px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-finance-act', );
$icon-nav-finance-name: 'icon-nav-finance';
$icon-nav-finance-x: 96px;
$icon-nav-finance-y: 259px;
$icon-nav-finance-offset-x: -96px;
$icon-nav-finance-offset-y: -259px;
$icon-nav-finance-width: 22px;
$icon-nav-finance-height: 20px;
$icon-nav-finance-total-width: 345px;
$icon-nav-finance-total-height: 337px;
$icon-nav-finance-image: '../../../img/sprite.png';
$icon-nav-finance: (96px, 259px, -96px, -259px, 22px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-finance', );
$icon-nav-home-act-name: 'icon-nav-home-act';
$icon-nav-home-act-x: 298px;
$icon-nav-home-act-y: 121px;
$icon-nav-home-act-offset-x: -298px;
$icon-nav-home-act-offset-y: -121px;
$icon-nav-home-act-width: 20px;
$icon-nav-home-act-height: 20px;
$icon-nav-home-act-total-width: 345px;
$icon-nav-home-act-total-height: 337px;
$icon-nav-home-act-image: '../../../img/sprite.png';
$icon-nav-home-act: (298px, 121px, -298px, -121px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-home-act', );
$icon-nav-home-name: 'icon-nav-home';
$icon-nav-home-x: 298px;
$icon-nav-home-y: 151px;
$icon-nav-home-offset-x: -298px;
$icon-nav-home-offset-y: -151px;
$icon-nav-home-width: 20px;
$icon-nav-home-height: 20px;
$icon-nav-home-total-width: 345px;
$icon-nav-home-total-height: 337px;
$icon-nav-home-image: '../../../img/sprite.png';
$icon-nav-home: (298px, 151px, -298px, -151px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-home', );
$icon-nav-ly-act-name: 'icon-nav-ly-act';
$icon-nav-ly-act-x: 192px;
$icon-nav-ly-act-y: 219px;
$icon-nav-ly-act-offset-x: -192px;
$icon-nav-ly-act-offset-y: -219px;
$icon-nav-ly-act-width: 23px;
$icon-nav-ly-act-height: 20px;
$icon-nav-ly-act-total-width: 345px;
$icon-nav-ly-act-total-height: 337px;
$icon-nav-ly-act-image: '../../../img/sprite.png';
$icon-nav-ly-act: (192px, 219px, -192px, -219px, 23px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-ly-act', );
$icon-nav-ly-name: 'icon-nav-ly';
$icon-nav-ly-x: 225px;
$icon-nav-ly-y: 219px;
$icon-nav-ly-offset-x: -225px;
$icon-nav-ly-offset-y: -219px;
$icon-nav-ly-width: 23px;
$icon-nav-ly-height: 20px;
$icon-nav-ly-total-width: 345px;
$icon-nav-ly-total-height: 337px;
$icon-nav-ly-image: '../../../img/sprite.png';
$icon-nav-ly: (225px, 219px, -225px, -219px, 23px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-ly', );
$icon-nav-rp-act-name: 'icon-nav-rp-act';
$icon-nav-rp-act-x: 328px;
$icon-nav-rp-act-y: 0px;
$icon-nav-rp-act-offset-x: -328px;
$icon-nav-rp-act-offset-y: 0px;
$icon-nav-rp-act-width: 17px;
$icon-nav-rp-act-height: 20px;
$icon-nav-rp-act-total-width: 345px;
$icon-nav-rp-act-total-height: 337px;
$icon-nav-rp-act-image: '../../../img/sprite.png';
$icon-nav-rp-act: (328px, 0px, -328px, 0px, 17px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-rp-act', );
$icon-nav-rp-name: 'icon-nav-rp';
$icon-nav-rp-x: 328px;
$icon-nav-rp-y: 30px;
$icon-nav-rp-offset-x: -328px;
$icon-nav-rp-offset-y: -30px;
$icon-nav-rp-width: 17px;
$icon-nav-rp-height: 20px;
$icon-nav-rp-total-width: 345px;
$icon-nav-rp-total-height: 337px;
$icon-nav-rp-image: '../../../img/sprite.png';
$icon-nav-rp: (328px, 30px, -328px, -30px, 17px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-rp', );
$icon-nav-tgzx-act-name: 'icon-nav-tgzx-act';
$icon-nav-tgzx-act-x: 128px;
$icon-nav-tgzx-act-y: 259px;
$icon-nav-tgzx-act-offset-x: -128px;
$icon-nav-tgzx-act-offset-y: -259px;
$icon-nav-tgzx-act-width: 24px;
$icon-nav-tgzx-act-height: 15px;
$icon-nav-tgzx-act-total-width: 345px;
$icon-nav-tgzx-act-total-height: 337px;
$icon-nav-tgzx-act-image: '../../../img/sprite.png';
$icon-nav-tgzx-act: (128px, 259px, -128px, -259px, 24px, 15px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-tgzx-act', );
$icon-nav-tgzx-name: 'icon-nav-tgzx';
$icon-nav-tgzx-x: 162px;
$icon-nav-tgzx-y: 259px;
$icon-nav-tgzx-offset-x: -162px;
$icon-nav-tgzx-offset-y: -259px;
$icon-nav-tgzx-width: 24px;
$icon-nav-tgzx-height: 15px;
$icon-nav-tgzx-total-width: 345px;
$icon-nav-tgzx-total-height: 337px;
$icon-nav-tgzx-image: '../../../img/sprite.png';
$icon-nav-tgzx: (162px, 259px, -162px, -259px, 24px, 15px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-tgzx', );
$icon-nav-treasure-act-name: 'icon-nav-treasure-act';
$icon-nav-treasure-act-x: 0px;
$icon-nav-treasure-act-y: 259px;
$icon-nav-treasure-act-offset-x: 0px;
$icon-nav-treasure-act-offset-y: -259px;
$icon-nav-treasure-act-width: 22px;
$icon-nav-treasure-act-height: 20px;
$icon-nav-treasure-act-total-width: 345px;
$icon-nav-treasure-act-total-height: 337px;
$icon-nav-treasure-act-image: '../../../img/sprite.png';
$icon-nav-treasure-act: (0px, 259px, 0px, -259px, 22px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-treasure-act', );
$icon-nav-treasure-name: 'icon-nav-treasure';
$icon-nav-treasure-x: 32px;
$icon-nav-treasure-y: 259px;
$icon-nav-treasure-offset-x: -32px;
$icon-nav-treasure-offset-y: -259px;
$icon-nav-treasure-width: 22px;
$icon-nav-treasure-height: 20px;
$icon-nav-treasure-total-width: 345px;
$icon-nav-treasure-total-height: 337px;
$icon-nav-treasure-image: '../../../img/sprite.png';
$icon-nav-treasure: (32px, 259px, -32px, -259px, 22px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-nav-treasure', );
$icon-opra-fail-name: 'icon-opra-fail';
$icon-opra-fail-x: 0px;
$icon-opra-fail-y: 144px;
$icon-opra-fail-offset-x: 0px;
$icon-opra-fail-offset-y: -144px;
$icon-opra-fail-width: 65px;
$icon-opra-fail-height: 65px;
$icon-opra-fail-total-width: 345px;
$icon-opra-fail-total-height: 337px;
$icon-opra-fail-image: '../../../img/sprite.png';
$icon-opra-fail: (0px, 144px, 0px, -144px, 65px, 65px, 345px, 337px, '../../../img/sprite.png', 'icon-opra-fail', );
$icon-opra-succ-name: 'icon-opra-succ';
$icon-opra-succ-x: 176px;
$icon-opra-succ-y: 64px;
$icon-opra-succ-offset-x: -176px;
$icon-opra-succ-offset-y: -64px;
$icon-opra-succ-width: 68px;
$icon-opra-succ-height: 68px;
$icon-opra-succ-total-width: 345px;
$icon-opra-succ-total-height: 337px;
$icon-opra-succ-image: '../../../img/sprite.png';
$icon-opra-succ: (176px, 64px, -176px, -64px, 68px, 68px, 345px, 337px, '../../../img/sprite.png', 'icon-opra-succ', );
$icon-people-name: 'icon-people';
$icon-people-x: 298px;
$icon-people-y: 61px;
$icon-people-offset-x: -298px;
$icon-people-offset-y: -61px;
$icon-people-width: 20px;
$icon-people-height: 20px;
$icon-people-total-width: 345px;
$icon-people-total-height: 337px;
$icon-people-image: '../../../img/sprite.png';
$icon-people: (298px, 61px, -298px, -61px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-people', );
$icon-play-name: 'icon-play';
$icon-play-x: 189px;
$icon-play-y: 144px;
$icon-play-offset-x: -189px;
$icon-play-offset-y: -144px;
$icon-play-width: 43px;
$icon-play-height: 42px;
$icon-play-total-width: 345px;
$icon-play-total-height: 337px;
$icon-play-image: '../../../img/sprite.png';
$icon-play: (189px, 144px, -189px, -144px, 43px, 42px, 345px, 337px, '../../../img/sprite.png', 'icon-play', );
$icon-play-sm-name: 'icon-play_sm';
$icon-play-sm-x: 298px;
$icon-play-sm-y: 181px;
$icon-play-sm-offset-x: -298px;
$icon-play-sm-offset-y: -181px;
$icon-play-sm-width: 20px;
$icon-play-sm-height: 20px;
$icon-play-sm-total-width: 345px;
$icon-play-sm-total-height: 337px;
$icon-play-sm-image: '../../../img/sprite.png';
$icon-play-sm: (298px, 181px, -298px, -181px, 20px, 20px, 345px, 337px, '../../../img/sprite.png', 'icon-play_sm', );
$icon-pwd-name: 'icon-pwd';
$icon-pwd-x: 328px;
$icon-pwd-y: 285px;
$icon-pwd-offset-x: -328px;
$icon-pwd-offset-y: -285px;
$icon-pwd-width: 11px;
$icon-pwd-height: 14px;
$icon-pwd-total-width: 345px;
$icon-pwd-total-height: 337px;
$icon-pwd-image: '../../../img/sprite.png';
$icon-pwd: (328px, 285px, -328px, -285px, 11px, 14px, 345px, 337px, '../../../img/sprite.png', 'icon-pwd', );
$icon-sina-name: 'icon-sina';
$icon-sina-x: 114px;
$icon-sina-y: 289px;
$icon-sina-offset-x: -114px;
$icon-sina-offset-y: -289px;
$icon-sina-width: 20px;
$icon-sina-height: 16px;
$icon-sina-total-width: 345px;
$icon-sina-total-height: 337px;
$icon-sina-image: '../../../img/sprite.png';
$icon-sina: (114px, 289px, -114px, -289px, 20px, 16px, 345px, 337px, '../../../img/sprite.png', 'icon-sina', );
$icon-succ-name: 'icon-succ';
$icon-succ-x: 0px;
$icon-succ-y: 0px;
$icon-succ-offset-x: 0px;
$icon-succ-offset-y: 0px;
$icon-succ-width: 70px;
$icon-succ-height: 70px;
$icon-succ-total-width: 345px;
$icon-succ-total-height: 337px;
$icon-succ-image: '../../../img/sprite.png';
$icon-succ: (0px, 0px, 0px, 0px, 70px, 70px, 345px, 337px, '../../../img/sprite.png', 'icon-succ', );
$icon-tgs-name: 'icon-tgs';
$icon-tgs-x: 40px;
$icon-tgs-y: 219px;
$icon-tgs-offset-x: -40px;
$icon-tgs-offset-y: -219px;
$icon-tgs-width: 34px;
$icon-tgs-height: 25px;
$icon-tgs-total-width: 345px;
$icon-tgs-total-height: 337px;
$icon-tgs-image: '../../../img/sprite.png';
$icon-tgs: (40px, 219px, -40px, -219px, 34px, 25px, 345px, 337px, '../../../img/sprite.png', 'icon-tgs', );
$icon-unchecked-name: 'icon-unchecked';
$icon-unchecked-x: 56px;
$icon-unchecked-y: 319px;
$icon-unchecked-offset-x: -56px;
$icon-unchecked-offset-y: -319px;
$icon-unchecked-width: 18px;
$icon-unchecked-height: 18px;
$icon-unchecked-total-width: 345px;
$icon-unchecked-total-height: 337px;
$icon-unchecked-image: '../../../img/sprite.png';
$icon-unchecked: (56px, 319px, -56px, -319px, 18px, 18px, 345px, 337px, '../../../img/sprite.png', 'icon-unchecked', );
$icon-up-error-sm-name: 'icon-up-error-sm';
$icon-up-error-sm-x: 75px;
$icon-up-error-sm-y: 144px;
$icon-up-error-sm-offset-x: -75px;
$icon-up-error-sm-offset-y: -144px;
$icon-up-error-sm-width: 50px;
$icon-up-error-sm-height: 50px;
$icon-up-error-sm-total-width: 345px;
$icon-up-error-sm-total-height: 337px;
$icon-up-error-sm-image: '../../../img/sprite.png';
$icon-up-error-sm: (75px, 144px, -75px, -144px, 50px, 50px, 345px, 337px, '../../../img/sprite.png', 'icon-up-error-sm', );
$icon-up-succe-sm-name: 'icon-up-succe-sm';
$icon-up-succe-sm-x: 96px;
$icon-up-succe-sm-y: 80px;
$icon-up-succe-sm-offset-x: -96px;
$icon-up-succe-sm-offset-y: -80px;
$icon-up-succe-sm-width: 50px;
$icon-up-succe-sm-height: 50px;
$icon-up-succe-sm-total-width: 345px;
$icon-up-succe-sm-total-height: 337px;
$icon-up-succe-sm-image: '../../../img/sprite.png';
$icon-up-succe-sm: (96px, 80px, -96px, -80px, 50px, 50px, 345px, 337px, '../../../img/sprite.png', 'icon-up-succe-sm', );
$icon-user-name: 'icon-user';
$icon-user-x: 328px;
$icon-user-y: 173px;
$icon-user-offset-x: -328px;
$icon-user-offset-y: -173px;
$icon-user-width: 14px;
$icon-user-height: 14px;
$icon-user-total-width: 345px;
$icon-user-total-height: 337px;
$icon-user-image: '../../../img/sprite.png';
$icon-user: (328px, 173px, -328px, -173px, 14px, 14px, 345px, 337px, '../../../img/sprite.png', 'icon-user', );
$icon-wechat-name: 'icon-wechat';
$icon-wechat-x: 84px;
$icon-wechat-y: 289px;
$icon-wechat-offset-x: -84px;
$icon-wechat-offset-y: -289px;
$icon-wechat-width: 20px;
$icon-wechat-height: 17px;
$icon-wechat-total-width: 345px;
$icon-wechat-total-height: 337px;
$icon-wechat-image: '../../../img/sprite.png';
$icon-wechat: (84px, 289px, -84px, -289px, 20px, 17px, 345px, 337px, '../../../img/sprite.png', 'icon-wechat', );
$icon-yzm-name: 'icon-yzm';
$icon-yzm-x: 328px;
$icon-yzm-y: 262px;
$icon-yzm-offset-x: -328px;
$icon-yzm-offset-y: -262px;
$icon-yzm-width: 12px;
$icon-yzm-height: 13px;
$icon-yzm-total-width: 345px;
$icon-yzm-total-height: 337px;
$icon-yzm-image: '../../../img/sprite.png';
$icon-yzm: (328px, 262px, -328px, -262px, 12px, 13px, 345px, 337px, '../../../img/sprite.png', 'icon-yzm', );
$icon-zz-upload-name: 'icon-zz-upload';
$icon-zz-upload-x: 0px;
$icon-zz-upload-y: 80px;
$icon-zz-upload-offset-x: 0px;
$icon-zz-upload-offset-y: -80px;
$icon-zz-upload-width: 86px;
$icon-zz-upload-height: 54px;
$icon-zz-upload-total-width: 345px;
$icon-zz-upload-total-height: 337px;
$icon-zz-upload-image: '../../../img/sprite.png';
$icon-zz-upload: (0px, 80px, 0px, -80px, 86px, 54px, 345px, 337px, '../../../img/sprite.png', 'icon-zz-upload', );
$spritesheet-width: 345px;
$spritesheet-height: 337px;
$spritesheet-image: '../../../img/sprite.png';
$spritesheet-sprites: ($icon-add-pic, $icon-android, $icon-app-back, $icon-app-read, $icon-app-read-gray, $icon-app-share, $icon-app-share-gray, $icon-arrow-l, $icon-arrow-r, $icon-back, $icon-checked, $icon-close, $icon-date-addon, $icon-del, $icon-dfzz, $icon-ewm, $icon-ggz, $icon-gw, $icon-help, $icon-id-f, $icon-id-z, $icon-ios, $icon-modal-close, $icon-mtz, $icon-nav-ads-act, $icon-nav-ads, $icon-nav-art-act, $icon-nav-art, $icon-nav-finance-act, $icon-nav-finance, $icon-nav-home-act, $icon-nav-home, $icon-nav-ly-act, $icon-nav-ly, $icon-nav-rp-act, $icon-nav-rp, $icon-nav-tgzx-act, $icon-nav-tgzx, $icon-nav-treasure-act, $icon-nav-treasure, $icon-opra-fail, $icon-opra-succ, $icon-people, $icon-play, $icon-play-sm, $icon-pwd, $icon-sina, $icon-succ, $icon-tgs, $icon-unchecked, $icon-up-error-sm, $icon-up-succe-sm, $icon-user, $icon-wechat, $icon-yzm, $icon-zz-upload, );
$spritesheet: (345px, 337px, '../../../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
