/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-add-pic-name: 'icon-add-pic';
$icon-add-pic-x: 135px;
$icon-add-pic-y: 144px;
$icon-add-pic-offset-x: -135px;
$icon-add-pic-offset-y: -144px;
$icon-add-pic-width: 44px;
$icon-add-pic-height: 44px;
$icon-add-pic-total-width: 414px;
$icon-add-pic-total-height: 372px;
$icon-add-pic-image: '../../../img/sprite.png';
$icon-add-pic: (135px, 144px, -135px, -144px, 44px, 44px, 414px, 372px, '../../../img/sprite.png', 'icon-add-pic', );
$icon-addpic-name: 'icon-addpic';
$icon-addpic-x: 26px;
$icon-addpic-y: 259px;
$icon-addpic-offset-x: -26px;
$icon-addpic-offset-y: -259px;
$icon-addpic-width: 22px;
$icon-addpic-height: 22px;
$icon-addpic-total-width: 414px;
$icon-addpic-total-height: 372px;
$icon-addpic-image: '../../../img/sprite.png';
$icon-addpic: (26px, 259px, -26px, -259px, 22px, 22px, 414px, 372px, '../../../img/sprite.png', 'icon-addpic', );
$icon-android-name: 'icon-android';
$icon-android-x: 376px;
$icon-android-y: 58px;
$icon-android-offset-x: -376px;
$icon-android-offset-y: -58px;
$icon-android-width: 16px;
$icon-android-height: 18px;
$icon-android-total-width: 414px;
$icon-android-total-height: 372px;
$icon-android-image: '../../../img/sprite.png';
$icon-android: (376px, 58px, -376px, -58px, 16px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-android', );
$icon-app-back-name: 'icon-app_back';
$icon-app-back-x: 376px;
$icon-app-back-y: 112px;
$icon-app-back-offset-x: -376px;
$icon-app-back-offset-y: -112px;
$icon-app-back-width: 12px;
$icon-app-back-height: 21px;
$icon-app-back-total-width: 414px;
$icon-app-back-total-height: 372px;
$icon-app-back-image: '../../../img/sprite.png';
$icon-app-back: (376px, 112px, -376px, -112px, 12px, 21px, 414px, 372px, '../../../img/sprite.png', 'icon-app_back', );
$icon-app-read-name: 'icon-app_read';
$icon-app-read-x: 68px;
$icon-app-read-y: 329px;
$icon-app-read-offset-x: -68px;
$icon-app-read-offset-y: -329px;
$icon-app-read-width: 18px;
$icon-app-read-height: 11px;
$icon-app-read-total-width: 414px;
$icon-app-read-total-height: 372px;
$icon-app-read-image: '../../../img/sprite.png';
$icon-app-read: (68px, 329px, -68px, -329px, 18px, 11px, 414px, 372px, '../../../img/sprite.png', 'icon-app_read', );
$icon-app-read-gray-name: 'icon-app_read_gray';
$icon-app-read-gray-x: 96px;
$icon-app-read-gray-y: 329px;
$icon-app-read-gray-offset-x: -96px;
$icon-app-read-gray-offset-y: -329px;
$icon-app-read-gray-width: 17px;
$icon-app-read-gray-height: 10px;
$icon-app-read-gray-total-width: 414px;
$icon-app-read-gray-total-height: 372px;
$icon-app-read-gray-image: '../../../img/sprite.png';
$icon-app-read-gray: (96px, 329px, -96px, -329px, 17px, 10px, 414px, 372px, '../../../img/sprite.png', 'icon-app_read_gray', );
$icon-app-share-name: 'icon-app_share';
$icon-app-share-x: 86px;
$icon-app-share-y: 354px;
$icon-app-share-offset-x: -86px;
$icon-app-share-offset-y: -354px;
$icon-app-share-width: 13px;
$icon-app-share-height: 13px;
$icon-app-share-total-width: 414px;
$icon-app-share-total-height: 372px;
$icon-app-share-image: '../../../img/sprite.png';
$icon-app-share: (86px, 354px, -86px, -354px, 13px, 13px, 414px, 372px, '../../../img/sprite.png', 'icon-app_share', );
$icon-app-share-gray-name: 'icon-app_share_gray';
$icon-app-share-gray-x: 131px;
$icon-app-share-gray-y: 354px;
$icon-app-share-gray-offset-x: -131px;
$icon-app-share-gray-offset-y: -354px;
$icon-app-share-gray-width: 13px;
$icon-app-share-gray-height: 12px;
$icon-app-share-gray-total-width: 414px;
$icon-app-share-gray-total-height: 372px;
$icon-app-share-gray-image: '../../../img/sprite.png';
$icon-app-share-gray: (131px, 354px, -131px, -354px, 13px, 12px, 414px, 372px, '../../../img/sprite.png', 'icon-app_share_gray', );
$icon-arrow-l-name: 'icon-arrow-l';
$icon-arrow-l-x: 0px;
$icon-arrow-l-y: 259px;
$icon-arrow-l-offset-x: 0px;
$icon-arrow-l-offset-y: -259px;
$icon-arrow-l-width: 16px;
$icon-arrow-l-height: 30px;
$icon-arrow-l-total-width: 414px;
$icon-arrow-l-total-height: 372px;
$icon-arrow-l-image: '../../../img/sprite.png';
$icon-arrow-l: (0px, 259px, 0px, -259px, 16px, 30px, 414px, 372px, '../../../img/sprite.png', 'icon-arrow-l', );
$icon-arrow-r-name: 'icon-arrow-r';
$icon-arrow-r-x: 242px;
$icon-arrow-r-y: 144px;
$icon-arrow-r-offset-x: -242px;
$icon-arrow-r-offset-y: -144px;
$icon-arrow-r-width: 16px;
$icon-arrow-r-height: 30px;
$icon-arrow-r-total-width: 414px;
$icon-arrow-r-total-height: 372px;
$icon-arrow-r-image: '../../../img/sprite.png';
$icon-arrow-r: (242px, 144px, -242px, -144px, 16px, 30px, 414px, 372px, '../../../img/sprite.png', 'icon-arrow-r', );
$icon-back-name: 'icon-back';
$icon-back-x: 403px;
$icon-back-y: 24px;
$icon-back-offset-x: -403px;
$icon-back-offset-y: -24px;
$icon-back-width: 8px;
$icon-back-height: 14px;
$icon-back-total-width: 414px;
$icon-back-total-height: 372px;
$icon-back-image: '../../../img/sprite.png';
$icon-back: (403px, 24px, -403px, -24px, 8px, 14px, 414px, 372px, '../../../img/sprite.png', 'icon-back', );
$icon-bbs-act-name: 'icon-bbs-act';
$icon-bbs-act-x: 314px;
$icon-bbs-act-y: 91px;
$icon-bbs-act-offset-x: -314px;
$icon-bbs-act-offset-y: -91px;
$icon-bbs-act-width: 21px;
$icon-bbs-act-height: 20px;
$icon-bbs-act-total-width: 414px;
$icon-bbs-act-total-height: 372px;
$icon-bbs-act-image: '../../../img/sprite.png';
$icon-bbs-act: (314px, 91px, -314px, -91px, 21px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-bbs-act', );
$icon-bbs-name: 'icon-bbs';
$icon-bbs-x: 314px;
$icon-bbs-y: 121px;
$icon-bbs-offset-x: -314px;
$icon-bbs-offset-y: -121px;
$icon-bbs-width: 21px;
$icon-bbs-height: 20px;
$icon-bbs-total-width: 414px;
$icon-bbs-total-height: 372px;
$icon-bbs-image: '../../../img/sprite.png';
$icon-bbs: (314px, 121px, -314px, -121px, 21px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-bbs', );
$icon-bread-back-name: 'icon-bread-back';
$icon-bread-back-x: 270px;
$icon-bread-back-y: 299px;
$icon-bread-back-offset-x: -270px;
$icon-bread-back-offset-y: -299px;
$icon-bread-back-width: 20px;
$icon-bread-back-height: 20px;
$icon-bread-back-total-width: 414px;
$icon-bread-back-total-height: 372px;
$icon-bread-back-image: '../../../img/sprite.png';
$icon-bread-back: (270px, 299px, -270px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-bread-back', );
$icon-checkbox-checked-name: 'icon-checkbox-checked';
$icon-checkbox-checked-x: 272px;
$icon-checkbox-checked-y: 90px;
$icon-checkbox-checked-offset-x: -272px;
$icon-checkbox-checked-offset-y: -90px;
$icon-checkbox-checked-width: 24px;
$icon-checkbox-checked-height: 24px;
$icon-checkbox-checked-total-width: 414px;
$icon-checkbox-checked-total-height: 372px;
$icon-checkbox-checked-image: '../../../img/sprite.png';
$icon-checkbox-checked: (272px, 90px, -272px, -90px, 24px, 24px, 414px, 372px, '../../../img/sprite.png', 'icon-checkbox-checked', );
$icon-checkbox-sm-checked-name: 'icon-checkbox-sm-checked';
$icon-checkbox-sm-checked-x: 376px;
$icon-checkbox-sm-checked-y: 86px;
$icon-checkbox-sm-checked-offset-x: -376px;
$icon-checkbox-sm-checked-offset-y: -86px;
$icon-checkbox-sm-checked-width: 17px;
$icon-checkbox-sm-checked-height: 16px;
$icon-checkbox-sm-checked-total-width: 414px;
$icon-checkbox-sm-checked-total-height: 372px;
$icon-checkbox-sm-checked-image: '../../../img/sprite.png';
$icon-checkbox-sm-checked: (376px, 86px, -376px, -86px, 17px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-checkbox-sm-checked', );
$icon-checkbox-sm-unchecked-name: 'icon-checkbox-sm-unchecked';
$icon-checkbox-sm-unchecked-x: 376px;
$icon-checkbox-sm-unchecked-y: 143px;
$icon-checkbox-sm-unchecked-offset-x: -376px;
$icon-checkbox-sm-unchecked-offset-y: -143px;
$icon-checkbox-sm-unchecked-width: 16px;
$icon-checkbox-sm-unchecked-height: 16px;
$icon-checkbox-sm-unchecked-total-width: 414px;
$icon-checkbox-sm-unchecked-total-height: 372px;
$icon-checkbox-sm-unchecked-image: '../../../img/sprite.png';
$icon-checkbox-sm-unchecked: (376px, 143px, -376px, -143px, 16px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-checkbox-sm-unchecked', );
$icon-checkbox-unchecked-name: 'icon-checkbox-unchecked';
$icon-checkbox-unchecked-x: 272px;
$icon-checkbox-unchecked-y: 56px;
$icon-checkbox-unchecked-offset-x: -272px;
$icon-checkbox-unchecked-offset-y: -56px;
$icon-checkbox-unchecked-width: 24px;
$icon-checkbox-unchecked-height: 24px;
$icon-checkbox-unchecked-total-width: 414px;
$icon-checkbox-unchecked-total-height: 372px;
$icon-checkbox-unchecked-image: '../../../img/sprite.png';
$icon-checkbox-unchecked: (272px, 56px, -272px, -56px, 24px, 24px, 414px, 372px, '../../../img/sprite.png', 'icon-checkbox-unchecked', );
$icon-checkbox-name: 'icon-checkbox';
$icon-checkbox-x: 376px;
$icon-checkbox-y: 169px;
$icon-checkbox-offset-x: -376px;
$icon-checkbox-offset-y: -169px;
$icon-checkbox-width: 16px;
$icon-checkbox-height: 16px;
$icon-checkbox-total-width: 414px;
$icon-checkbox-total-height: 372px;
$icon-checkbox-image: '../../../img/sprite.png';
$icon-checkbox: (376px, 169px, -376px, -169px, 16px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-checkbox', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 28px;
$icon-checked-y: 354px;
$icon-checked-offset-x: -28px;
$icon-checked-offset-y: -354px;
$icon-checked-width: 18px;
$icon-checked-height: 18px;
$icon-checked-total-width: 414px;
$icon-checked-total-height: 372px;
$icon-checked-image: '../../../img/sprite.png';
$icon-checked: (28px, 354px, -28px, -354px, 18px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-checked', );
$icon-checked1-name: 'icon-checked1';
$icon-checked1-x: 90px;
$icon-checked1-y: 299px;
$icon-checked1-offset-x: -90px;
$icon-checked1-offset-y: -299px;
$icon-checked1-width: 20px;
$icon-checked1-height: 20px;
$icon-checked1-total-width: 414px;
$icon-checked1-total-height: 372px;
$icon-checked1-image: '../../../img/sprite.png';
$icon-checked1: (90px, 299px, -90px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-checked1', );
$icon-cir-act-name: 'icon-cir-act';
$icon-cir-act-x: 240px;
$icon-cir-act-y: 299px;
$icon-cir-act-offset-x: -240px;
$icon-cir-act-offset-y: -299px;
$icon-cir-act-width: 20px;
$icon-cir-act-height: 20px;
$icon-cir-act-total-width: 414px;
$icon-cir-act-total-height: 372px;
$icon-cir-act-image: '../../../img/sprite.png';
$icon-cir-act: (240px, 299px, -240px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-cir-act', );
$icon-cir-name: 'icon-cir';
$icon-cir-x: 346px;
$icon-cir-y: 30px;
$icon-cir-offset-x: -346px;
$icon-cir-offset-y: -30px;
$icon-cir-width: 20px;
$icon-cir-height: 20px;
$icon-cir-total-width: 414px;
$icon-cir-total-height: 372px;
$icon-cir-image: '../../../img/sprite.png';
$icon-cir: (346px, 30px, -346px, -30px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-cir', );
$icon-close-name: 'icon-close';
$icon-close-x: 376px;
$icon-close-y: 195px;
$icon-close-offset-x: -376px;
$icon-close-offset-y: -195px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 414px;
$icon-close-total-height: 372px;
$icon-close-image: '../../../img/sprite.png';
$icon-close: (376px, 195px, -376px, -195px, 16px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-close', );
$icon-copy-name: 'icon-copy';
$icon-copy-x: 122px;
$icon-copy-y: 259px;
$icon-copy-offset-x: -122px;
$icon-copy-offset-y: -259px;
$icon-copy-width: 22px;
$icon-copy-height: 22px;
$icon-copy-total-width: 414px;
$icon-copy-total-height: 372px;
$icon-copy-image: '../../../img/sprite.png';
$icon-copy: (122px, 259px, -122px, -259px, 22px, 22px, 414px, 372px, '../../../img/sprite.png', 'icon-copy', );
$icon-date-addon-name: 'icon-date-addon';
$icon-date-addon-x: 346px;
$icon-date-addon-y: 90px;
$icon-date-addon-offset-x: -346px;
$icon-date-addon-offset-y: -90px;
$icon-date-addon-width: 19px;
$icon-date-addon-height: 20px;
$icon-date-addon-total-width: 414px;
$icon-date-addon-total-height: 372px;
$icon-date-addon-image: '../../../img/sprite.png';
$icon-date-addon: (346px, 90px, -346px, -90px, 19px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-date-addon', );
$icon-del-sm-name: 'icon-del-sm';
$icon-del-sm-x: 403px;
$icon-del-sm-y: 48px;
$icon-del-sm-offset-x: -403px;
$icon-del-sm-offset-y: -48px;
$icon-del-sm-width: 10px;
$icon-del-sm-height: 10px;
$icon-del-sm-total-width: 414px;
$icon-del-sm-total-height: 372px;
$icon-del-sm-image: '../../../img/sprite.png';
$icon-del-sm: (403px, 48px, -403px, -48px, 10px, 10px, 414px, 372px, '../../../img/sprite.png', 'icon-del-sm', );
$icon-del-name: 'icon-del';
$icon-del-x: 314px;
$icon-del-y: 271px;
$icon-del-offset-x: -314px;
$icon-del-offset-y: -271px;
$icon-del-width: 18px;
$icon-del-height: 18px;
$icon-del-total-width: 414px;
$icon-del-total-height: 372px;
$icon-del-image: '../../../img/sprite.png';
$icon-del: (314px, 271px, -314px, -271px, 18px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-del', );
$icon-delpic-name: 'icon-delpic';
$icon-delpic-x: 272px;
$icon-delpic-y: 124px;
$icon-delpic-offset-x: -272px;
$icon-delpic-offset-y: -124px;
$icon-delpic-width: 24px;
$icon-delpic-height: 24px;
$icon-delpic-total-width: 414px;
$icon-delpic-total-height: 372px;
$icon-delpic-image: '../../../img/sprite.png';
$icon-delpic: (272px, 124px, -272px, -124px, 24px, 24px, 414px, 372px, '../../../img/sprite.png', 'icon-delpic', );
$icon-dfzz-name: 'icon-dfzz';
$icon-dfzz-x: 202px;
$icon-dfzz-y: 219px;
$icon-dfzz-offset-x: -202px;
$icon-dfzz-offset-y: -219px;
$icon-dfzz-width: 27px;
$icon-dfzz-height: 25px;
$icon-dfzz-total-width: 414px;
$icon-dfzz-total-height: 372px;
$icon-dfzz-image: '../../../img/sprite.png';
$icon-dfzz: (202px, 219px, -202px, -219px, 27px, 25px, 414px, 372px, '../../../img/sprite.png', 'icon-dfzz', );
$icon-drop-name: 'icon-drop';
$icon-drop-x: 239px;
$icon-drop-y: 219px;
$icon-drop-offset-x: -239px;
$icon-drop-offset-y: -219px;
$icon-drop-width: 22px;
$icon-drop-height: 22px;
$icon-drop-total-width: 414px;
$icon-drop-total-height: 372px;
$icon-drop-image: '../../../img/sprite.png';
$icon-drop: (239px, 219px, -239px, -219px, 22px, 22px, 414px, 372px, '../../../img/sprite.png', 'icon-drop', );
$icon-ewm-name: 'icon-ewm';
$icon-ewm-x: 284px;
$icon-ewm-y: 259px;
$icon-ewm-offset-x: -284px;
$icon-ewm-offset-y: -259px;
$icon-ewm-width: 20px;
$icon-ewm-height: 20px;
$icon-ewm-total-width: 414px;
$icon-ewm-total-height: 372px;
$icon-ewm-image: '../../../img/sprite.png';
$icon-ewm: (284px, 259px, -284px, -259px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-ewm', );
$icon-ggz-name: 'icon-ggz';
$icon-ggz-x: 164px;
$icon-ggz-y: 219px;
$icon-ggz-offset-x: -164px;
$icon-ggz-offset-y: -219px;
$icon-ggz-width: 28px;
$icon-ggz-height: 25px;
$icon-ggz-total-width: 414px;
$icon-ggz-total-height: 372px;
$icon-ggz-image: '../../../img/sprite.png';
$icon-ggz: (164px, 219px, -164px, -219px, 28px, 25px, 414px, 372px, '../../../img/sprite.png', 'icon-ggz', );
$icon-gw-name: 'icon-gw';
$icon-gw-x: 314px;
$icon-gw-y: 60px;
$icon-gw-offset-x: -314px;
$icon-gw-offset-y: -60px;
$icon-gw-width: 20px;
$icon-gw-height: 21px;
$icon-gw-total-width: 414px;
$icon-gw-total-height: 372px;
$icon-gw-image: '../../../img/sprite.png';
$icon-gw: (314px, 60px, -314px, -60px, 20px, 21px, 414px, 372px, '../../../img/sprite.png', 'icon-gw', );
$icon-help-name: 'icon-help';
$icon-help-x: 346px;
$icon-help-y: 180px;
$icon-help-offset-x: -346px;
$icon-help-offset-y: -180px;
$icon-help-width: 18px;
$icon-help-height: 19px;
$icon-help-total-width: 414px;
$icon-help-total-height: 372px;
$icon-help-image: '../../../img/sprite.png';
$icon-help: (346px, 180px, -346px, -180px, 18px, 19px, 414px, 372px, '../../../img/sprite.png', 'icon-help', );
$icon-icon-push-active-name: 'icon-icon-push-active';
$icon-icon-push-active-x: 272px;
$icon-icon-push-active-y: 28px;
$icon-icon-push-active-offset-x: -272px;
$icon-icon-push-active-offset-y: -28px;
$icon-icon-push-active-width: 32px;
$icon-icon-push-active-height: 18px;
$icon-icon-push-active-total-width: 414px;
$icon-icon-push-active-total-height: 372px;
$icon-icon-push-active-image: '../../../img/sprite.png';
$icon-icon-push-active: (272px, 28px, -272px, -28px, 32px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-icon-push-active', );
$icon-icon-push-name: 'icon-icon-push';
$icon-icon-push-x: 272px;
$icon-icon-push-y: 0px;
$icon-icon-push-offset-x: -272px;
$icon-icon-push-offset-y: 0px;
$icon-icon-push-width: 32px;
$icon-icon-push-height: 18px;
$icon-icon-push-total-width: 414px;
$icon-icon-push-total-height: 372px;
$icon-icon-push-image: '../../../img/sprite.png';
$icon-icon-push: (272px, 0px, -272px, 0px, 32px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-icon-push', );
$icon-id-f-name: 'icon-id-f';
$icon-id-f-x: 80px;
$icon-id-f-y: 0px;
$icon-id-f-offset-x: -80px;
$icon-id-f-offset-y: 0px;
$icon-id-f-width: 86px;
$icon-id-f-height: 55px;
$icon-id-f-total-width: 414px;
$icon-id-f-total-height: 372px;
$icon-id-f-image: '../../../img/sprite.png';
$icon-id-f: (80px, 0px, -80px, 0px, 86px, 55px, 414px, 372px, '../../../img/sprite.png', 'icon-id-f', );
$icon-id-z-name: 'icon-id-z';
$icon-id-z-x: 176px;
$icon-id-z-y: 0px;
$icon-id-z-offset-x: -176px;
$icon-id-z-offset-y: 0px;
$icon-id-z-width: 86px;
$icon-id-z-height: 54px;
$icon-id-z-total-width: 414px;
$icon-id-z-total-height: 372px;
$icon-id-z-image: '../../../img/sprite.png';
$icon-id-z: (176px, 0px, -176px, 0px, 86px, 54px, 414px, 372px, '../../../img/sprite.png', 'icon-id-z', );
$icon-ios-name: 'icon-ios';
$icon-ios-x: 376px;
$icon-ios-y: 30px;
$icon-ios-offset-x: -376px;
$icon-ios-offset-y: -30px;
$icon-ios-width: 16px;
$icon-ios-height: 18px;
$icon-ios-total-width: 414px;
$icon-ios-total-height: 372px;
$icon-ios-image: '../../../img/sprite.png';
$icon-ios: (376px, 30px, -376px, -30px, 16px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-ios', );
$icon-like-name: 'icon-like';
$icon-like-x: 376px;
$icon-like-y: 296px;
$icon-like-offset-x: -376px;
$icon-like-offset-y: -296px;
$icon-like-width: 14px;
$icon-like-height: 14px;
$icon-like-total-width: 414px;
$icon-like-total-height: 372px;
$icon-like-image: '../../../img/sprite.png';
$icon-like: (376px, 296px, -376px, -296px, 14px, 14px, 414px, 372px, '../../../img/sprite.png', 'icon-like', );
$icon-liuyan-name: 'icon-liuyan';
$icon-liuyan-x: 376px;
$icon-liuyan-y: 247px;
$icon-liuyan-offset-x: -376px;
$icon-liuyan-offset-y: -247px;
$icon-liuyan-width: 14px;
$icon-liuyan-height: 15px;
$icon-liuyan-total-width: 414px;
$icon-liuyan-total-height: 372px;
$icon-liuyan-image: '../../../img/sprite.png';
$icon-liuyan: (376px, 247px, -376px, -247px, 14px, 15px, 414px, 372px, '../../../img/sprite.png', 'icon-liuyan', );
$icon-mall-active-name: 'icon-mall-active';
$icon-mall-active-x: 314px;
$icon-mall-active-y: 181px;
$icon-mall-active-offset-x: -314px;
$icon-mall-active-offset-y: -181px;
$icon-mall-active-width: 20px;
$icon-mall-active-height: 20px;
$icon-mall-active-total-width: 414px;
$icon-mall-active-total-height: 372px;
$icon-mall-active-image: '../../../img/sprite.png';
$icon-mall-active: (314px, 181px, -314px, -181px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-mall-active', );
$icon-mall-name: 'icon-mall';
$icon-mall-x: 314px;
$icon-mall-y: 211px;
$icon-mall-offset-x: -314px;
$icon-mall-offset-y: -211px;
$icon-mall-width: 20px;
$icon-mall-height: 20px;
$icon-mall-total-width: 414px;
$icon-mall-total-height: 372px;
$icon-mall-image: '../../../img/sprite.png';
$icon-mall: (314px, 211px, -314px, -211px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-mall', );
$icon-modal-close-name: 'icon-modal-close';
$icon-modal-close-x: 80px;
$icon-modal-close-y: 219px;
$icon-modal-close-offset-x: -80px;
$icon-modal-close-offset-y: -219px;
$icon-modal-close-width: 30px;
$icon-modal-close-height: 30px;
$icon-modal-close-total-width: 414px;
$icon-modal-close-total-height: 372px;
$icon-modal-close-image: '../../../img/sprite.png';
$icon-modal-close: (80px, 219px, -80px, -219px, 30px, 30px, 414px, 372px, '../../../img/sprite.png', 'icon-modal-close', );
$icon-mtz-name: 'icon-mtz';
$icon-mtz-x: 272px;
$icon-mtz-y: 158px;
$icon-mtz-offset-x: -272px;
$icon-mtz-offset-y: -158px;
$icon-mtz-width: 23px;
$icon-mtz-height: 25px;
$icon-mtz-total-width: 414px;
$icon-mtz-total-height: 372px;
$icon-mtz-image: '../../../img/sprite.png';
$icon-mtz: (272px, 158px, -272px, -158px, 23px, 25px, 414px, 372px, '../../../img/sprite.png', 'icon-mtz', );
$icon-nav-ads-act-name: 'icon-nav-ads-act';
$icon-nav-ads-act-x: 0px;
$icon-nav-ads-act-y: 299px;
$icon-nav-ads-act-offset-x: 0px;
$icon-nav-ads-act-offset-y: -299px;
$icon-nav-ads-act-width: 20px;
$icon-nav-ads-act-height: 20px;
$icon-nav-ads-act-total-width: 414px;
$icon-nav-ads-act-total-height: 372px;
$icon-nav-ads-act-image: '../../../img/sprite.png';
$icon-nav-ads-act: (0px, 299px, 0px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-ads-act', );
$icon-nav-ads-name: 'icon-nav-ads';
$icon-nav-ads-x: 314px;
$icon-nav-ads-y: 241px;
$icon-nav-ads-offset-x: -314px;
$icon-nav-ads-offset-y: -241px;
$icon-nav-ads-width: 20px;
$icon-nav-ads-height: 20px;
$icon-nav-ads-total-width: 414px;
$icon-nav-ads-total-height: 372px;
$icon-nav-ads-image: '../../../img/sprite.png';
$icon-nav-ads: (314px, 241px, -314px, -241px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-ads', );
$icon-nav-art-act-name: 'icon-nav-art-act';
$icon-nav-art-act-x: 346px;
$icon-nav-art-act-y: 150px;
$icon-nav-art-act-offset-x: -346px;
$icon-nav-art-act-offset-y: -150px;
$icon-nav-art-act-width: 18px;
$icon-nav-art-act-height: 20px;
$icon-nav-art-act-total-width: 414px;
$icon-nav-art-act-total-height: 372px;
$icon-nav-art-act-image: '../../../img/sprite.png';
$icon-nav-art-act: (346px, 150px, -346px, -150px, 18px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-art-act', );
$icon-nav-art-name: 'icon-nav-art';
$icon-nav-art-x: 346px;
$icon-nav-art-y: 120px;
$icon-nav-art-offset-x: -346px;
$icon-nav-art-offset-y: -120px;
$icon-nav-art-width: 18px;
$icon-nav-art-height: 20px;
$icon-nav-art-total-width: 414px;
$icon-nav-art-total-height: 372px;
$icon-nav-art-image: '../../../img/sprite.png';
$icon-nav-art: (346px, 120px, -346px, -120px, 18px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-art', );
$icon-nav-finance-act-name: 'icon-nav-finance-act';
$icon-nav-finance-act-x: 252px;
$icon-nav-finance-act-y: 259px;
$icon-nav-finance-act-offset-x: -252px;
$icon-nav-finance-act-offset-y: -259px;
$icon-nav-finance-act-width: 22px;
$icon-nav-finance-act-height: 20px;
$icon-nav-finance-act-total-width: 414px;
$icon-nav-finance-act-total-height: 372px;
$icon-nav-finance-act-image: '../../../img/sprite.png';
$icon-nav-finance-act: (252px, 259px, -252px, -259px, 22px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-finance-act', );
$icon-nav-finance-name: 'icon-nav-finance';
$icon-nav-finance-x: 314px;
$icon-nav-finance-y: 30px;
$icon-nav-finance-offset-x: -314px;
$icon-nav-finance-offset-y: -30px;
$icon-nav-finance-width: 22px;
$icon-nav-finance-height: 20px;
$icon-nav-finance-total-width: 414px;
$icon-nav-finance-total-height: 372px;
$icon-nav-finance-image: '../../../img/sprite.png';
$icon-nav-finance: (314px, 30px, -314px, -30px, 22px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-finance', );
$icon-nav-home-act-name: 'icon-nav-home-act';
$icon-nav-home-act-x: 180px;
$icon-nav-home-act-y: 299px;
$icon-nav-home-act-offset-x: -180px;
$icon-nav-home-act-offset-y: -299px;
$icon-nav-home-act-width: 20px;
$icon-nav-home-act-height: 20px;
$icon-nav-home-act-total-width: 414px;
$icon-nav-home-act-total-height: 372px;
$icon-nav-home-act-image: '../../../img/sprite.png';
$icon-nav-home-act: (180px, 299px, -180px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-home-act', );
$icon-nav-home-name: 'icon-nav-home';
$icon-nav-home-x: 210px;
$icon-nav-home-y: 299px;
$icon-nav-home-offset-x: -210px;
$icon-nav-home-offset-y: -299px;
$icon-nav-home-width: 20px;
$icon-nav-home-height: 20px;
$icon-nav-home-total-width: 414px;
$icon-nav-home-total-height: 372px;
$icon-nav-home-image: '../../../img/sprite.png';
$icon-nav-home: (210px, 299px, -210px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-home', );
$icon-nav-ly-act-name: 'icon-nav-ly-act';
$icon-nav-ly-act-x: 154px;
$icon-nav-ly-act-y: 259px;
$icon-nav-ly-act-offset-x: -154px;
$icon-nav-ly-act-offset-y: -259px;
$icon-nav-ly-act-width: 23px;
$icon-nav-ly-act-height: 20px;
$icon-nav-ly-act-total-width: 414px;
$icon-nav-ly-act-total-height: 372px;
$icon-nav-ly-act-image: '../../../img/sprite.png';
$icon-nav-ly-act: (154px, 259px, -154px, -259px, 23px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-ly-act', );
$icon-nav-ly-name: 'icon-nav-ly';
$icon-nav-ly-x: 187px;
$icon-nav-ly-y: 259px;
$icon-nav-ly-offset-x: -187px;
$icon-nav-ly-offset-y: -259px;
$icon-nav-ly-width: 23px;
$icon-nav-ly-height: 20px;
$icon-nav-ly-total-width: 414px;
$icon-nav-ly-total-height: 372px;
$icon-nav-ly-image: '../../../img/sprite.png';
$icon-nav-ly: (187px, 259px, -187px, -259px, 23px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-ly', );
$icon-nav-rp-act-name: 'icon-nav-rp-act';
$icon-nav-rp-act-x: 346px;
$icon-nav-rp-act-y: 209px;
$icon-nav-rp-act-offset-x: -346px;
$icon-nav-rp-act-offset-y: -209px;
$icon-nav-rp-act-width: 17px;
$icon-nav-rp-act-height: 20px;
$icon-nav-rp-act-total-width: 414px;
$icon-nav-rp-act-total-height: 372px;
$icon-nav-rp-act-image: '../../../img/sprite.png';
$icon-nav-rp-act: (346px, 209px, -346px, -209px, 17px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-rp-act', );
$icon-nav-rp-name: 'icon-nav-rp';
$icon-nav-rp-x: 376px;
$icon-nav-rp-y: 0px;
$icon-nav-rp-offset-x: -376px;
$icon-nav-rp-offset-y: 0px;
$icon-nav-rp-width: 17px;
$icon-nav-rp-height: 20px;
$icon-nav-rp-total-width: 414px;
$icon-nav-rp-total-height: 372px;
$icon-nav-rp-image: '../../../img/sprite.png';
$icon-nav-rp: (376px, 0px, -376px, 0px, 17px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-rp', );
$icon-nav-task-act-name: 'icon-nav-task-act';
$icon-nav-task-act-x: 272px;
$icon-nav-task-act-y: 193px;
$icon-nav-task-act-offset-x: -272px;
$icon-nav-task-act-offset-y: -193px;
$icon-nav-task-act-width: 25px;
$icon-nav-task-act-height: 20px;
$icon-nav-task-act-total-width: 414px;
$icon-nav-task-act-total-height: 372px;
$icon-nav-task-act-image: '../../../img/sprite.png';
$icon-nav-task-act: (272px, 193px, -272px, -193px, 25px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-task-act', );
$icon-nav-task-name: 'icon-nav-task';
$icon-nav-task-x: 272px;
$icon-nav-task-y: 223px;
$icon-nav-task-offset-x: -272px;
$icon-nav-task-offset-y: -223px;
$icon-nav-task-width: 25px;
$icon-nav-task-height: 20px;
$icon-nav-task-total-width: 414px;
$icon-nav-task-total-height: 372px;
$icon-nav-task-image: '../../../img/sprite.png';
$icon-nav-task: (272px, 223px, -272px, -223px, 25px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-task', );
$icon-nav-tgzx-act-name: 'icon-nav-tgzx-act';
$icon-nav-tgzx-act-x: 0px;
$icon-nav-tgzx-act-y: 329px;
$icon-nav-tgzx-act-offset-x: 0px;
$icon-nav-tgzx-act-offset-y: -329px;
$icon-nav-tgzx-act-width: 24px;
$icon-nav-tgzx-act-height: 15px;
$icon-nav-tgzx-act-total-width: 414px;
$icon-nav-tgzx-act-total-height: 372px;
$icon-nav-tgzx-act-image: '../../../img/sprite.png';
$icon-nav-tgzx-act: (0px, 329px, 0px, -329px, 24px, 15px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-tgzx-act', );
$icon-nav-tgzx-name: 'icon-nav-tgzx';
$icon-nav-tgzx-x: 34px;
$icon-nav-tgzx-y: 329px;
$icon-nav-tgzx-offset-x: -34px;
$icon-nav-tgzx-offset-y: -329px;
$icon-nav-tgzx-width: 24px;
$icon-nav-tgzx-height: 15px;
$icon-nav-tgzx-total-width: 414px;
$icon-nav-tgzx-total-height: 372px;
$icon-nav-tgzx-image: '../../../img/sprite.png';
$icon-nav-tgzx: (34px, 329px, -34px, -329px, 24px, 15px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-tgzx', );
$icon-nav-treasure-act-name: 'icon-nav-treasure-act';
$icon-nav-treasure-act-x: 314px;
$icon-nav-treasure-act-y: 0px;
$icon-nav-treasure-act-offset-x: -314px;
$icon-nav-treasure-act-offset-y: 0px;
$icon-nav-treasure-act-width: 22px;
$icon-nav-treasure-act-height: 20px;
$icon-nav-treasure-act-total-width: 414px;
$icon-nav-treasure-act-total-height: 372px;
$icon-nav-treasure-act-image: '../../../img/sprite.png';
$icon-nav-treasure-act: (314px, 0px, -314px, 0px, 22px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-treasure-act', );
$icon-nav-treasure-name: 'icon-nav-treasure';
$icon-nav-treasure-x: 220px;
$icon-nav-treasure-y: 259px;
$icon-nav-treasure-offset-x: -220px;
$icon-nav-treasure-offset-y: -259px;
$icon-nav-treasure-width: 22px;
$icon-nav-treasure-height: 20px;
$icon-nav-treasure-total-width: 414px;
$icon-nav-treasure-total-height: 372px;
$icon-nav-treasure-image: '../../../img/sprite.png';
$icon-nav-treasure: (220px, 259px, -220px, -259px, 22px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-nav-treasure', );
$icon-next-name: 'icon-next';
$icon-next-x: 58px;
$icon-next-y: 259px;
$icon-next-offset-x: -58px;
$icon-next-offset-y: -259px;
$icon-next-width: 22px;
$icon-next-height: 22px;
$icon-next-total-width: 414px;
$icon-next-total-height: 372px;
$icon-next-image: '../../../img/sprite.png';
$icon-next: (58px, 259px, -58px, -259px, 22px, 22px, 414px, 372px, '../../../img/sprite.png', 'icon-next', );
$icon-opra-fail-name: 'icon-opra-fail';
$icon-opra-fail-x: 0px;
$icon-opra-fail-y: 144px;
$icon-opra-fail-offset-x: 0px;
$icon-opra-fail-offset-y: -144px;
$icon-opra-fail-width: 65px;
$icon-opra-fail-height: 65px;
$icon-opra-fail-total-width: 414px;
$icon-opra-fail-total-height: 372px;
$icon-opra-fail-image: '../../../img/sprite.png';
$icon-opra-fail: (0px, 144px, 0px, -144px, 65px, 65px, 414px, 372px, '../../../img/sprite.png', 'icon-opra-fail', );
$icon-opra-succ-name: 'icon-opra-succ';
$icon-opra-succ-x: 176px;
$icon-opra-succ-y: 64px;
$icon-opra-succ-offset-x: -176px;
$icon-opra-succ-offset-y: -64px;
$icon-opra-succ-width: 68px;
$icon-opra-succ-height: 68px;
$icon-opra-succ-total-width: 414px;
$icon-opra-succ-total-height: 372px;
$icon-opra-succ-image: '../../../img/sprite.png';
$icon-opra-succ: (176px, 64px, -176px, -64px, 68px, 68px, 414px, 372px, '../../../img/sprite.png', 'icon-opra-succ', );
$icon-people-name: 'icon-people';
$icon-people-x: 346px;
$icon-people-y: 60px;
$icon-people-offset-x: -346px;
$icon-people-offset-y: -60px;
$icon-people-width: 20px;
$icon-people-height: 20px;
$icon-people-total-width: 414px;
$icon-people-total-height: 372px;
$icon-people-image: '../../../img/sprite.png';
$icon-people: (346px, 60px, -346px, -60px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-people', );
$icon-people2-name: 'icon-people2';
$icon-people2-x: 376px;
$icon-people2-y: 272px;
$icon-people2-offset-x: -376px;
$icon-people2-offset-y: -272px;
$icon-people2-width: 14px;
$icon-people2-height: 14px;
$icon-people2-total-width: 414px;
$icon-people2-total-height: 372px;
$icon-people2-image: '../../../img/sprite.png';
$icon-people2: (376px, 272px, -376px, -272px, 14px, 14px, 414px, 372px, '../../../img/sprite.png', 'icon-people2', );
$icon-play-name: 'icon-play';
$icon-play-x: 189px;
$icon-play-y: 144px;
$icon-play-offset-x: -189px;
$icon-play-offset-y: -144px;
$icon-play-width: 43px;
$icon-play-height: 42px;
$icon-play-total-width: 414px;
$icon-play-total-height: 372px;
$icon-play-image: '../../../img/sprite.png';
$icon-play: (189px, 144px, -189px, -144px, 43px, 42px, 414px, 372px, '../../../img/sprite.png', 'icon-play', );
$icon-play-sm-name: 'icon-play_sm';
$icon-play-sm-x: 60px;
$icon-play-sm-y: 299px;
$icon-play-sm-offset-x: -60px;
$icon-play-sm-offset-y: -299px;
$icon-play-sm-width: 20px;
$icon-play-sm-height: 20px;
$icon-play-sm-total-width: 414px;
$icon-play-sm-total-height: 372px;
$icon-play-sm-image: '../../../img/sprite.png';
$icon-play-sm: (60px, 299px, -60px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-play_sm', );
$icon-pre-name: 'icon-pre';
$icon-pre-x: 90px;
$icon-pre-y: 259px;
$icon-pre-offset-x: -90px;
$icon-pre-offset-y: -259px;
$icon-pre-width: 22px;
$icon-pre-height: 22px;
$icon-pre-total-width: 414px;
$icon-pre-total-height: 372px;
$icon-pre-image: '../../../img/sprite.png';
$icon-pre: (90px, 259px, -90px, -259px, 22px, 22px, 414px, 372px, '../../../img/sprite.png', 'icon-pre', );
$icon-pwd-name: 'icon-pwd';
$icon-pwd-x: 403px;
$icon-pwd-y: 0px;
$icon-pwd-offset-x: -403px;
$icon-pwd-offset-y: 0px;
$icon-pwd-width: 11px;
$icon-pwd-height: 14px;
$icon-pwd-total-width: 414px;
$icon-pwd-total-height: 372px;
$icon-pwd-image: '../../../img/sprite.png';
$icon-pwd: (403px, 0px, -403px, 0px, 11px, 14px, 414px, 372px, '../../../img/sprite.png', 'icon-pwd', );
$icon-radio-name: 'icon-radio';
$icon-radio-x: 376px;
$icon-radio-y: 221px;
$icon-radio-offset-x: -376px;
$icon-radio-offset-y: -221px;
$icon-radio-width: 16px;
$icon-radio-height: 16px;
$icon-radio-total-width: 414px;
$icon-radio-total-height: 372px;
$icon-radio-image: '../../../img/sprite.png';
$icon-radio: (376px, 221px, -376px, -221px, 16px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-radio', );
$icon-sina-name: 'icon-sina';
$icon-sina-x: 56px;
$icon-sina-y: 354px;
$icon-sina-offset-x: -56px;
$icon-sina-offset-y: -354px;
$icon-sina-width: 20px;
$icon-sina-height: 16px;
$icon-sina-total-width: 414px;
$icon-sina-total-height: 372px;
$icon-sina-image: '../../../img/sprite.png';
$icon-sina: (56px, 354px, -56px, -354px, 20px, 16px, 414px, 372px, '../../../img/sprite.png', 'icon-sina', );
$icon-succ-name: 'icon-succ';
$icon-succ-x: 0px;
$icon-succ-y: 0px;
$icon-succ-offset-x: 0px;
$icon-succ-offset-y: 0px;
$icon-succ-width: 70px;
$icon-succ-height: 70px;
$icon-succ-total-width: 414px;
$icon-succ-total-height: 372px;
$icon-succ-image: '../../../img/sprite.png';
$icon-succ: (0px, 0px, 0px, 0px, 70px, 70px, 414px, 372px, '../../../img/sprite.png', 'icon-succ', );
$icon-sysset-act-name: 'icon-sysset-act';
$icon-sysset-act-x: 346px;
$icon-sysset-act-y: 0px;
$icon-sysset-act-offset-x: -346px;
$icon-sysset-act-offset-y: 0px;
$icon-sysset-act-width: 20px;
$icon-sysset-act-height: 20px;
$icon-sysset-act-total-width: 414px;
$icon-sysset-act-total-height: 372px;
$icon-sysset-act-image: '../../../img/sprite.png';
$icon-sysset-act: (346px, 0px, -346px, 0px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-sysset-act', );
$icon-sysset-name: 'icon-sysset';
$icon-sysset-x: 300px;
$icon-sysset-y: 299px;
$icon-sysset-offset-x: -300px;
$icon-sysset-offset-y: -299px;
$icon-sysset-width: 20px;
$icon-sysset-height: 20px;
$icon-sysset-total-width: 414px;
$icon-sysset-total-height: 372px;
$icon-sysset-image: '../../../img/sprite.png';
$icon-sysset: (300px, 299px, -300px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-sysset', );
$icon-tgs-name: 'icon-tgs';
$icon-tgs-x: 120px;
$icon-tgs-y: 219px;
$icon-tgs-offset-x: -120px;
$icon-tgs-offset-y: -219px;
$icon-tgs-width: 34px;
$icon-tgs-height: 25px;
$icon-tgs-total-width: 414px;
$icon-tgs-total-height: 372px;
$icon-tgs-image: '../../../img/sprite.png';
$icon-tgs: (120px, 219px, -120px, -219px, 34px, 25px, 414px, 372px, '../../../img/sprite.png', 'icon-tgs', );
$icon-unchecked-name: 'icon-unchecked';
$icon-unchecked-x: 0px;
$icon-unchecked-y: 354px;
$icon-unchecked-offset-x: 0px;
$icon-unchecked-offset-y: -354px;
$icon-unchecked-width: 18px;
$icon-unchecked-height: 18px;
$icon-unchecked-total-width: 414px;
$icon-unchecked-total-height: 372px;
$icon-unchecked-image: '../../../img/sprite.png';
$icon-unchecked: (0px, 354px, 0px, -354px, 18px, 18px, 414px, 372px, '../../../img/sprite.png', 'icon-unchecked', );
$icon-unchecked1-name: 'icon-unchecked1';
$icon-unchecked1-x: 314px;
$icon-unchecked1-y: 151px;
$icon-unchecked1-offset-x: -314px;
$icon-unchecked1-offset-y: -151px;
$icon-unchecked1-width: 20px;
$icon-unchecked1-height: 20px;
$icon-unchecked1-total-width: 414px;
$icon-unchecked1-total-height: 372px;
$icon-unchecked1-image: '../../../img/sprite.png';
$icon-unchecked1: (314px, 151px, -314px, -151px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-unchecked1', );
$icon-up-error-sm-name: 'icon-up-error-sm';
$icon-up-error-sm-x: 75px;
$icon-up-error-sm-y: 144px;
$icon-up-error-sm-offset-x: -75px;
$icon-up-error-sm-offset-y: -144px;
$icon-up-error-sm-width: 50px;
$icon-up-error-sm-height: 50px;
$icon-up-error-sm-total-width: 414px;
$icon-up-error-sm-total-height: 372px;
$icon-up-error-sm-image: '../../../img/sprite.png';
$icon-up-error-sm: (75px, 144px, -75px, -144px, 50px, 50px, 414px, 372px, '../../../img/sprite.png', 'icon-up-error-sm', );
$icon-up-succe-sm-name: 'icon-up-succe-sm';
$icon-up-succe-sm-x: 96px;
$icon-up-succe-sm-y: 80px;
$icon-up-succe-sm-offset-x: -96px;
$icon-up-succe-sm-offset-y: -80px;
$icon-up-succe-sm-width: 50px;
$icon-up-succe-sm-height: 50px;
$icon-up-succe-sm-total-width: 414px;
$icon-up-succe-sm-total-height: 372px;
$icon-up-succe-sm-image: '../../../img/sprite.png';
$icon-up-succe-sm: (96px, 80px, -96px, -80px, 50px, 50px, 414px, 372px, '../../../img/sprite.png', 'icon-up-succe-sm', );
$icon-user-name: 'icon-user';
$icon-user-x: 376px;
$icon-user-y: 320px;
$icon-user-offset-x: -376px;
$icon-user-offset-y: -320px;
$icon-user-width: 14px;
$icon-user-height: 14px;
$icon-user-total-width: 414px;
$icon-user-total-height: 372px;
$icon-user-image: '../../../img/sprite.png';
$icon-user: (376px, 320px, -376px, -320px, 14px, 14px, 414px, 372px, '../../../img/sprite.png', 'icon-user', );
$icon-userctl-act-name: 'icon-userctl-act';
$icon-userctl-act-x: 40px;
$icon-userctl-act-y: 219px;
$icon-userctl-act-offset-x: -40px;
$icon-userctl-act-offset-y: -219px;
$icon-userctl-act-width: 30px;
$icon-userctl-act-height: 30px;
$icon-userctl-act-total-width: 414px;
$icon-userctl-act-total-height: 372px;
$icon-userctl-act-image: '../../../img/sprite.png';
$icon-userctl-act: (40px, 219px, -40px, -219px, 30px, 30px, 414px, 372px, '../../../img/sprite.png', 'icon-userctl-act', );
$icon-userctl-name: 'icon-userctl';
$icon-userctl-x: 0px;
$icon-userctl-y: 219px;
$icon-userctl-offset-x: 0px;
$icon-userctl-offset-y: -219px;
$icon-userctl-width: 30px;
$icon-userctl-height: 30px;
$icon-userctl-total-width: 414px;
$icon-userctl-total-height: 372px;
$icon-userctl-image: '../../../img/sprite.png';
$icon-userctl: (0px, 219px, 0px, -219px, 30px, 30px, 414px, 372px, '../../../img/sprite.png', 'icon-userctl', );
$icon-vote-active-name: 'icon-vote-active';
$icon-vote-active-x: 120px;
$icon-vote-active-y: 299px;
$icon-vote-active-offset-x: -120px;
$icon-vote-active-offset-y: -299px;
$icon-vote-active-width: 20px;
$icon-vote-active-height: 20px;
$icon-vote-active-total-width: 414px;
$icon-vote-active-total-height: 372px;
$icon-vote-active-image: '../../../img/sprite.png';
$icon-vote-active: (120px, 299px, -120px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-vote-active', );
$icon-vote-name: 'icon-vote';
$icon-vote-x: 30px;
$icon-vote-y: 299px;
$icon-vote-offset-x: -30px;
$icon-vote-offset-y: -299px;
$icon-vote-width: 20px;
$icon-vote-height: 20px;
$icon-vote-total-width: 414px;
$icon-vote-total-height: 372px;
$icon-vote-image: '../../../img/sprite.png';
$icon-vote: (30px, 299px, -30px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-vote', );
$icon-warning-name: 'icon-warning';
$icon-warning-x: 150px;
$icon-warning-y: 299px;
$icon-warning-offset-x: -150px;
$icon-warning-offset-y: -299px;
$icon-warning-width: 20px;
$icon-warning-height: 20px;
$icon-warning-total-width: 414px;
$icon-warning-total-height: 372px;
$icon-warning-image: '../../../img/sprite.png';
$icon-warning: (150px, 299px, -150px, -299px, 20px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-warning', );
$icon-websiteman-act-name: 'icon-websiteman-act';
$icon-websiteman-act-x: 346px;
$icon-websiteman-act-y: 239px;
$icon-websiteman-act-offset-x: -346px;
$icon-websiteman-act-offset-y: -239px;
$icon-websiteman-act-width: 17px;
$icon-websiteman-act-height: 20px;
$icon-websiteman-act-total-width: 414px;
$icon-websiteman-act-total-height: 372px;
$icon-websiteman-act-image: '../../../img/sprite.png';
$icon-websiteman-act: (346px, 239px, -346px, -239px, 17px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-websiteman-act', );
$icon-websiteman-name: 'icon-websiteman';
$icon-websiteman-x: 346px;
$icon-websiteman-y: 269px;
$icon-websiteman-offset-x: -346px;
$icon-websiteman-offset-y: -269px;
$icon-websiteman-width: 17px;
$icon-websiteman-height: 20px;
$icon-websiteman-total-width: 414px;
$icon-websiteman-total-height: 372px;
$icon-websiteman-image: '../../../img/sprite.png';
$icon-websiteman: (346px, 269px, -346px, -269px, 17px, 20px, 414px, 372px, '../../../img/sprite.png', 'icon-websiteman', );
$icon-wechat-name: 'icon-wechat';
$icon-wechat-x: 346px;
$icon-wechat-y: 299px;
$icon-wechat-offset-x: -346px;
$icon-wechat-offset-y: -299px;
$icon-wechat-width: 20px;
$icon-wechat-height: 17px;
$icon-wechat-total-width: 414px;
$icon-wechat-total-height: 372px;
$icon-wechat-image: '../../../img/sprite.png';
$icon-wechat: (346px, 299px, -346px, -299px, 20px, 17px, 414px, 372px, '../../../img/sprite.png', 'icon-wechat', );
$icon-yzm-name: 'icon-yzm';
$icon-yzm-x: 109px;
$icon-yzm-y: 354px;
$icon-yzm-offset-x: -109px;
$icon-yzm-offset-y: -354px;
$icon-yzm-width: 12px;
$icon-yzm-height: 13px;
$icon-yzm-total-width: 414px;
$icon-yzm-total-height: 372px;
$icon-yzm-image: '../../../img/sprite.png';
$icon-yzm: (109px, 354px, -109px, -354px, 12px, 13px, 414px, 372px, '../../../img/sprite.png', 'icon-yzm', );
$icon-zz-upload-name: 'icon-zz-upload';
$icon-zz-upload-x: 0px;
$icon-zz-upload-y: 80px;
$icon-zz-upload-offset-x: 0px;
$icon-zz-upload-offset-y: -80px;
$icon-zz-upload-width: 86px;
$icon-zz-upload-height: 54px;
$icon-zz-upload-total-width: 414px;
$icon-zz-upload-total-height: 372px;
$icon-zz-upload-image: '../../../img/sprite.png';
$icon-zz-upload: (0px, 80px, 0px, -80px, 86px, 54px, 414px, 372px, '../../../img/sprite.png', 'icon-zz-upload', );
$spritesheet-width: 414px;
$spritesheet-height: 372px;
$spritesheet-image: '../../../img/sprite.png';
$spritesheet-sprites: ($icon-add-pic, $icon-addpic, $icon-android, $icon-app-back, $icon-app-read, $icon-app-read-gray, $icon-app-share, $icon-app-share-gray, $icon-arrow-l, $icon-arrow-r, $icon-back, $icon-bbs-act, $icon-bbs, $icon-bread-back, $icon-checkbox-checked, $icon-checkbox-sm-checked, $icon-checkbox-sm-unchecked, $icon-checkbox-unchecked, $icon-checkbox, $icon-checked, $icon-checked1, $icon-cir-act, $icon-cir, $icon-close, $icon-copy, $icon-date-addon, $icon-del-sm, $icon-del, $icon-delpic, $icon-dfzz, $icon-drop, $icon-ewm, $icon-ggz, $icon-gw, $icon-help, $icon-icon-push-active, $icon-icon-push, $icon-id-f, $icon-id-z, $icon-ios, $icon-like, $icon-liuyan, $icon-mall-active, $icon-mall, $icon-modal-close, $icon-mtz, $icon-nav-ads-act, $icon-nav-ads, $icon-nav-art-act, $icon-nav-art, $icon-nav-finance-act, $icon-nav-finance, $icon-nav-home-act, $icon-nav-home, $icon-nav-ly-act, $icon-nav-ly, $icon-nav-rp-act, $icon-nav-rp, $icon-nav-task-act, $icon-nav-task, $icon-nav-tgzx-act, $icon-nav-tgzx, $icon-nav-treasure-act, $icon-nav-treasure, $icon-next, $icon-opra-fail, $icon-opra-succ, $icon-people, $icon-people2, $icon-play, $icon-play-sm, $icon-pre, $icon-pwd, $icon-radio, $icon-sina, $icon-succ, $icon-sysset-act, $icon-sysset, $icon-tgs, $icon-unchecked, $icon-unchecked1, $icon-up-error-sm, $icon-up-succe-sm, $icon-user, $icon-userctl-act, $icon-userctl, $icon-vote-active, $icon-vote, $icon-warning, $icon-websiteman-act, $icon-websiteman, $icon-wechat, $icon-yzm, $icon-zz-upload, );
$spritesheet: (414px, 372px, '../../../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
