/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-add-pic-name: 'icon-add-pic';
$icon-add-pic-x: 135px;
$icon-add-pic-y: 144px;
$icon-add-pic-offset-x: -135px;
$icon-add-pic-offset-y: -144px;
$icon-add-pic-width: 44px;
$icon-add-pic-height: 44px;
$icon-add-pic-total-width: 377px;
$icon-add-pic-total-height: 331px;
$icon-add-pic-image: '../../../img/sprite.png';
$icon-add-pic: (135px, 144px, -135px, -144px, 44px, 44px, 377px, 331px, '../../../img/sprite.png', 'icon-add-pic', );
$icon-android-name: 'icon-android';
$icon-android-x: 337px;
$icon-android-y: 261px;
$icon-android-offset-x: -337px;
$icon-android-offset-y: -261px;
$icon-android-width: 16px;
$icon-android-height: 18px;
$icon-android-total-width: 377px;
$icon-android-total-height: 331px;
$icon-android-image: '../../../img/sprite.png';
$icon-android: (337px, 261px, -337px, -261px, 16px, 18px, 377px, 331px, '../../../img/sprite.png', 'icon-android', );
$icon-app-back-name: 'icon-app_back';
$icon-app-back-x: 365px;
$icon-app-back-y: 0px;
$icon-app-back-offset-x: -365px;
$icon-app-back-offset-y: 0px;
$icon-app-back-width: 12px;
$icon-app-back-height: 21px;
$icon-app-back-total-width: 377px;
$icon-app-back-total-height: 331px;
$icon-app-back-image: '../../../img/sprite.png';
$icon-app-back: (365px, 0px, -365px, 0px, 12px, 21px, 377px, 331px, '../../../img/sprite.png', 'icon-app_back', );
$icon-app-read-name: 'icon-app_read';
$icon-app-read-x: 337px;
$icon-app-read-y: 289px;
$icon-app-read-offset-x: -337px;
$icon-app-read-offset-y: -289px;
$icon-app-read-width: 18px;
$icon-app-read-height: 11px;
$icon-app-read-total-width: 377px;
$icon-app-read-total-height: 331px;
$icon-app-read-image: '../../../img/sprite.png';
$icon-app-read: (337px, 289px, -337px, -289px, 18px, 11px, 377px, 331px, '../../../img/sprite.png', 'icon-app_read', );
$icon-app-read-gray-name: 'icon-app_read_gray';
$icon-app-read-gray-x: 242px;
$icon-app-read-gray-y: 175px;
$icon-app-read-gray-offset-x: -242px;
$icon-app-read-gray-offset-y: -175px;
$icon-app-read-gray-width: 17px;
$icon-app-read-gray-height: 10px;
$icon-app-read-gray-total-width: 377px;
$icon-app-read-gray-total-height: 331px;
$icon-app-read-gray-image: '../../../img/sprite.png';
$icon-app-read-gray: (242px, 175px, -242px, -175px, 17px, 10px, 377px, 331px, '../../../img/sprite.png', 'icon-app_read_gray', );
$icon-app-share-name: 'icon-app_share';
$icon-app-share-x: 82px;
$icon-app-share-y: 289px;
$icon-app-share-offset-x: -82px;
$icon-app-share-offset-y: -289px;
$icon-app-share-width: 13px;
$icon-app-share-height: 13px;
$icon-app-share-total-width: 377px;
$icon-app-share-total-height: 331px;
$icon-app-share-image: '../../../img/sprite.png';
$icon-app-share: (82px, 289px, -82px, -289px, 13px, 13px, 377px, 331px, '../../../img/sprite.png', 'icon-app_share', );
$icon-app-share-gray-name: 'icon-app_share_gray';
$icon-app-share-gray-x: 105px;
$icon-app-share-gray-y: 289px;
$icon-app-share-gray-offset-x: -105px;
$icon-app-share-gray-offset-y: -289px;
$icon-app-share-gray-width: 13px;
$icon-app-share-gray-height: 12px;
$icon-app-share-gray-total-width: 377px;
$icon-app-share-gray-total-height: 331px;
$icon-app-share-gray-image: '../../../img/sprite.png';
$icon-app-share-gray: (105px, 289px, -105px, -289px, 13px, 12px, 377px, 331px, '../../../img/sprite.png', 'icon-app_share_gray', );
$icon-arrow-l-name: 'icon-arrow-l';
$icon-arrow-l-x: 272px;
$icon-arrow-l-y: 100px;
$icon-arrow-l-offset-x: -272px;
$icon-arrow-l-offset-y: -100px;
$icon-arrow-l-width: 16px;
$icon-arrow-l-height: 30px;
$icon-arrow-l-total-width: 377px;
$icon-arrow-l-total-height: 331px;
$icon-arrow-l-image: '../../../img/sprite.png';
$icon-arrow-l: (272px, 100px, -272px, -100px, 16px, 30px, 377px, 331px, '../../../img/sprite.png', 'icon-arrow-l', );
$icon-arrow-r-name: 'icon-arrow-r';
$icon-arrow-r-x: 272px;
$icon-arrow-r-y: 60px;
$icon-arrow-r-offset-x: -272px;
$icon-arrow-r-offset-y: -60px;
$icon-arrow-r-width: 16px;
$icon-arrow-r-height: 30px;
$icon-arrow-r-total-width: 377px;
$icon-arrow-r-total-height: 331px;
$icon-arrow-r-image: '../../../img/sprite.png';
$icon-arrow-r: (272px, 60px, -272px, -60px, 16px, 30px, 377px, 331px, '../../../img/sprite.png', 'icon-arrow-r', );
$icon-back-name: 'icon-back';
$icon-back-x: 365px;
$icon-back-y: 78px;
$icon-back-offset-x: -365px;
$icon-back-offset-y: -78px;
$icon-back-width: 8px;
$icon-back-height: 14px;
$icon-back-total-width: 377px;
$icon-back-total-height: 331px;
$icon-back-image: '../../../img/sprite.png';
$icon-back: (365px, 78px, -365px, -78px, 8px, 14px, 377px, 331px, '../../../img/sprite.png', 'icon-back', );
$icon-bbs-act-name: 'icon-bbs-act';
$icon-bbs-act-x: 96px;
$icon-bbs-act-y: 259px;
$icon-bbs-act-offset-x: -96px;
$icon-bbs-act-offset-y: -259px;
$icon-bbs-act-width: 21px;
$icon-bbs-act-height: 20px;
$icon-bbs-act-total-width: 377px;
$icon-bbs-act-total-height: 331px;
$icon-bbs-act-image: '../../../img/sprite.png';
$icon-bbs-act: (96px, 259px, -96px, -259px, 21px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-bbs-act', );
$icon-bbs-name: 'icon-bbs';
$icon-bbs-x: 127px;
$icon-bbs-y: 259px;
$icon-bbs-offset-x: -127px;
$icon-bbs-offset-y: -259px;
$icon-bbs-width: 21px;
$icon-bbs-height: 20px;
$icon-bbs-total-width: 377px;
$icon-bbs-total-height: 331px;
$icon-bbs-image: '../../../img/sprite.png';
$icon-bbs: (127px, 259px, -127px, -259px, 21px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-bbs', );
$icon-bread-back-name: 'icon-bread-back';
$icon-bread-back-x: 307px;
$icon-bread-back-y: 90px;
$icon-bread-back-offset-x: -307px;
$icon-bread-back-offset-y: -90px;
$icon-bread-back-width: 20px;
$icon-bread-back-height: 20px;
$icon-bread-back-total-width: 377px;
$icon-bread-back-total-height: 331px;
$icon-bread-back-image: '../../../img/sprite.png';
$icon-bread-back: (307px, 90px, -307px, -90px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-bread-back', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 337px;
$icon-checked-y: 149px;
$icon-checked-offset-x: -337px;
$icon-checked-offset-y: -149px;
$icon-checked-width: 18px;
$icon-checked-height: 18px;
$icon-checked-total-width: 377px;
$icon-checked-total-height: 331px;
$icon-checked-image: '../../../img/sprite.png';
$icon-checked: (337px, 149px, -337px, -149px, 18px, 18px, 377px, 331px, '../../../img/sprite.png', 'icon-checked', );
$icon-cir-act-name: 'icon-cir-act';
$icon-cir-act-x: 307px;
$icon-cir-act-y: 120px;
$icon-cir-act-offset-x: -307px;
$icon-cir-act-offset-y: -120px;
$icon-cir-act-width: 20px;
$icon-cir-act-height: 20px;
$icon-cir-act-total-width: 377px;
$icon-cir-act-total-height: 331px;
$icon-cir-act-image: '../../../img/sprite.png';
$icon-cir-act: (307px, 120px, -307px, -120px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-cir-act', );
$icon-cir-name: 'icon-cir';
$icon-cir-x: 307px;
$icon-cir-y: 150px;
$icon-cir-offset-x: -307px;
$icon-cir-offset-y: -150px;
$icon-cir-width: 20px;
$icon-cir-height: 20px;
$icon-cir-total-width: 377px;
$icon-cir-total-height: 331px;
$icon-cir-image: '../../../img/sprite.png';
$icon-cir: (307px, 150px, -307px, -150px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-cir', );
$icon-close-name: 'icon-close';
$icon-close-x: 60px;
$icon-close-y: 314px;
$icon-close-offset-x: -60px;
$icon-close-offset-y: -314px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 377px;
$icon-close-total-height: 331px;
$icon-close-image: '../../../img/sprite.png';
$icon-close: (60px, 314px, -60px, -314px, 16px, 16px, 377px, 331px, '../../../img/sprite.png', 'icon-close', );
$icon-date-addon-name: 'icon-date-addon';
$icon-date-addon-x: 307px;
$icon-date-addon-y: 210px;
$icon-date-addon-offset-x: -307px;
$icon-date-addon-offset-y: -210px;
$icon-date-addon-width: 19px;
$icon-date-addon-height: 20px;
$icon-date-addon-total-width: 377px;
$icon-date-addon-total-height: 331px;
$icon-date-addon-image: '../../../img/sprite.png';
$icon-date-addon: (307px, 210px, -307px, -210px, 19px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-date-addon', );
$icon-del-name: 'icon-del';
$icon-del-x: 337px;
$icon-del-y: 205px;
$icon-del-offset-x: -337px;
$icon-del-offset-y: -205px;
$icon-del-width: 18px;
$icon-del-height: 18px;
$icon-del-total-width: 377px;
$icon-del-total-height: 331px;
$icon-del-image: '../../../img/sprite.png';
$icon-del: (337px, 205px, -337px, -205px, 18px, 18px, 377px, 331px, '../../../img/sprite.png', 'icon-del', );
$icon-dfzz-name: 'icon-dfzz';
$icon-dfzz-x: 202px;
$icon-dfzz-y: 219px;
$icon-dfzz-offset-x: -202px;
$icon-dfzz-offset-y: -219px;
$icon-dfzz-width: 27px;
$icon-dfzz-height: 25px;
$icon-dfzz-total-width: 377px;
$icon-dfzz-total-height: 331px;
$icon-dfzz-image: '../../../img/sprite.png';
$icon-dfzz: (202px, 219px, -202px, -219px, 27px, 25px, 377px, 331px, '../../../img/sprite.png', 'icon-dfzz', );
$icon-ewm-name: 'icon-ewm';
$icon-ewm-x: 307px;
$icon-ewm-y: 0px;
$icon-ewm-offset-x: -307px;
$icon-ewm-offset-y: 0px;
$icon-ewm-width: 20px;
$icon-ewm-height: 20px;
$icon-ewm-total-width: 377px;
$icon-ewm-total-height: 331px;
$icon-ewm-image: '../../../img/sprite.png';
$icon-ewm: (307px, 0px, -307px, 0px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-ewm', );
$icon-ggz-name: 'icon-ggz';
$icon-ggz-x: 164px;
$icon-ggz-y: 219px;
$icon-ggz-offset-x: -164px;
$icon-ggz-offset-y: -219px;
$icon-ggz-width: 28px;
$icon-ggz-height: 25px;
$icon-ggz-total-width: 377px;
$icon-ggz-total-height: 331px;
$icon-ggz-image: '../../../img/sprite.png';
$icon-ggz: (164px, 219px, -164px, -219px, 28px, 25px, 377px, 331px, '../../../img/sprite.png', 'icon-ggz', );
$icon-gw-name: 'icon-gw';
$icon-gw-x: 242px;
$icon-gw-y: 144px;
$icon-gw-offset-x: -242px;
$icon-gw-offset-y: -144px;
$icon-gw-width: 20px;
$icon-gw-height: 21px;
$icon-gw-total-width: 377px;
$icon-gw-total-height: 331px;
$icon-gw-image: '../../../img/sprite.png';
$icon-gw: (242px, 144px, -242px, -144px, 20px, 21px, 377px, 331px, '../../../img/sprite.png', 'icon-gw', );
$icon-help-name: 'icon-help';
$icon-help-x: 337px;
$icon-help-y: 0px;
$icon-help-offset-x: -337px;
$icon-help-offset-y: 0px;
$icon-help-width: 18px;
$icon-help-height: 19px;
$icon-help-total-width: 377px;
$icon-help-total-height: 331px;
$icon-help-image: '../../../img/sprite.png';
$icon-help: (337px, 0px, -337px, 0px, 18px, 19px, 377px, 331px, '../../../img/sprite.png', 'icon-help', );
$icon-id-f-name: 'icon-id-f';
$icon-id-f-x: 80px;
$icon-id-f-y: 0px;
$icon-id-f-offset-x: -80px;
$icon-id-f-offset-y: 0px;
$icon-id-f-width: 86px;
$icon-id-f-height: 55px;
$icon-id-f-total-width: 377px;
$icon-id-f-total-height: 331px;
$icon-id-f-image: '../../../img/sprite.png';
$icon-id-f: (80px, 0px, -80px, 0px, 86px, 55px, 377px, 331px, '../../../img/sprite.png', 'icon-id-f', );
$icon-id-z-name: 'icon-id-z';
$icon-id-z-x: 176px;
$icon-id-z-y: 0px;
$icon-id-z-offset-x: -176px;
$icon-id-z-offset-y: 0px;
$icon-id-z-width: 86px;
$icon-id-z-height: 54px;
$icon-id-z-total-width: 377px;
$icon-id-z-total-height: 331px;
$icon-id-z-image: '../../../img/sprite.png';
$icon-id-z: (176px, 0px, -176px, 0px, 86px, 54px, 377px, 331px, '../../../img/sprite.png', 'icon-id-z', );
$icon-ios-name: 'icon-ios';
$icon-ios-x: 337px;
$icon-ios-y: 233px;
$icon-ios-offset-x: -337px;
$icon-ios-offset-y: -233px;
$icon-ios-width: 16px;
$icon-ios-height: 18px;
$icon-ios-total-width: 377px;
$icon-ios-total-height: 331px;
$icon-ios-image: '../../../img/sprite.png';
$icon-ios: (337px, 233px, -337px, -233px, 16px, 18px, 377px, 331px, '../../../img/sprite.png', 'icon-ios', );
$icon-modal-close-name: 'icon-modal-close';
$icon-modal-close-x: 80px;
$icon-modal-close-y: 219px;
$icon-modal-close-offset-x: -80px;
$icon-modal-close-offset-y: -219px;
$icon-modal-close-width: 30px;
$icon-modal-close-height: 30px;
$icon-modal-close-total-width: 377px;
$icon-modal-close-total-height: 331px;
$icon-modal-close-image: '../../../img/sprite.png';
$icon-modal-close: (80px, 219px, -80px, -219px, 30px, 30px, 377px, 331px, '../../../img/sprite.png', 'icon-modal-close', );
$icon-mtz-name: 'icon-mtz';
$icon-mtz-x: 239px;
$icon-mtz-y: 219px;
$icon-mtz-offset-x: -239px;
$icon-mtz-offset-y: -219px;
$icon-mtz-width: 23px;
$icon-mtz-height: 25px;
$icon-mtz-total-width: 377px;
$icon-mtz-total-height: 331px;
$icon-mtz-image: '../../../img/sprite.png';
$icon-mtz: (239px, 219px, -239px, -219px, 23px, 25px, 377px, 331px, '../../../img/sprite.png', 'icon-mtz', );
$icon-nav-ads-act-name: 'icon-nav-ads-act';
$icon-nav-ads-act-x: 307px;
$icon-nav-ads-act-y: 60px;
$icon-nav-ads-act-offset-x: -307px;
$icon-nav-ads-act-offset-y: -60px;
$icon-nav-ads-act-width: 20px;
$icon-nav-ads-act-height: 20px;
$icon-nav-ads-act-total-width: 377px;
$icon-nav-ads-act-total-height: 331px;
$icon-nav-ads-act-image: '../../../img/sprite.png';
$icon-nav-ads-act: (307px, 60px, -307px, -60px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-ads-act', );
$icon-nav-ads-name: 'icon-nav-ads';
$icon-nav-ads-x: 307px;
$icon-nav-ads-y: 30px;
$icon-nav-ads-offset-x: -307px;
$icon-nav-ads-offset-y: -30px;
$icon-nav-ads-width: 20px;
$icon-nav-ads-height: 20px;
$icon-nav-ads-total-width: 377px;
$icon-nav-ads-total-height: 331px;
$icon-nav-ads-image: '../../../img/sprite.png';
$icon-nav-ads: (307px, 30px, -307px, -30px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-ads', );
$icon-nav-art-act-name: 'icon-nav-art-act';
$icon-nav-art-act-x: 307px;
$icon-nav-art-act-y: 240px;
$icon-nav-art-act-offset-x: -307px;
$icon-nav-art-act-offset-y: -240px;
$icon-nav-art-act-width: 18px;
$icon-nav-art-act-height: 20px;
$icon-nav-art-act-total-width: 377px;
$icon-nav-art-act-total-height: 331px;
$icon-nav-art-act-image: '../../../img/sprite.png';
$icon-nav-art-act: (307px, 240px, -307px, -240px, 18px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-art-act', );
$icon-nav-art-name: 'icon-nav-art';
$icon-nav-art-x: 278px;
$icon-nav-art-y: 259px;
$icon-nav-art-offset-x: -278px;
$icon-nav-art-offset-y: -259px;
$icon-nav-art-width: 18px;
$icon-nav-art-height: 20px;
$icon-nav-art-total-width: 377px;
$icon-nav-art-total-height: 331px;
$icon-nav-art-image: '../../../img/sprite.png';
$icon-nav-art: (278px, 259px, -278px, -259px, 18px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-art', );
$icon-nav-finance-act-name: 'icon-nav-finance-act';
$icon-nav-finance-act-x: 64px;
$icon-nav-finance-act-y: 259px;
$icon-nav-finance-act-offset-x: -64px;
$icon-nav-finance-act-offset-y: -259px;
$icon-nav-finance-act-width: 22px;
$icon-nav-finance-act-height: 20px;
$icon-nav-finance-act-total-width: 377px;
$icon-nav-finance-act-total-height: 331px;
$icon-nav-finance-act-image: '../../../img/sprite.png';
$icon-nav-finance-act: (64px, 259px, -64px, -259px, 22px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-finance-act', );
$icon-nav-finance-name: 'icon-nav-finance';
$icon-nav-finance-x: 0px;
$icon-nav-finance-y: 259px;
$icon-nav-finance-offset-x: 0px;
$icon-nav-finance-offset-y: -259px;
$icon-nav-finance-width: 22px;
$icon-nav-finance-height: 20px;
$icon-nav-finance-total-width: 377px;
$icon-nav-finance-total-height: 331px;
$icon-nav-finance-image: '../../../img/sprite.png';
$icon-nav-finance: (0px, 259px, 0px, -259px, 22px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-finance', );
$icon-nav-home-act-name: 'icon-nav-home-act';
$icon-nav-home-act-x: 158px;
$icon-nav-home-act-y: 259px;
$icon-nav-home-act-offset-x: -158px;
$icon-nav-home-act-offset-y: -259px;
$icon-nav-home-act-width: 20px;
$icon-nav-home-act-height: 20px;
$icon-nav-home-act-total-width: 377px;
$icon-nav-home-act-total-height: 331px;
$icon-nav-home-act-image: '../../../img/sprite.png';
$icon-nav-home-act: (158px, 259px, -158px, -259px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-home-act', );
$icon-nav-home-name: 'icon-nav-home';
$icon-nav-home-x: 188px;
$icon-nav-home-y: 259px;
$icon-nav-home-offset-x: -188px;
$icon-nav-home-offset-y: -259px;
$icon-nav-home-width: 20px;
$icon-nav-home-height: 20px;
$icon-nav-home-total-width: 377px;
$icon-nav-home-total-height: 331px;
$icon-nav-home-image: '../../../img/sprite.png';
$icon-nav-home: (188px, 259px, -188px, -259px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-home', );
$icon-nav-ly-act-name: 'icon-nav-ly-act';
$icon-nav-ly-act-x: 272px;
$icon-nav-ly-act-y: 140px;
$icon-nav-ly-act-offset-x: -272px;
$icon-nav-ly-act-offset-y: -140px;
$icon-nav-ly-act-width: 23px;
$icon-nav-ly-act-height: 20px;
$icon-nav-ly-act-total-width: 377px;
$icon-nav-ly-act-total-height: 331px;
$icon-nav-ly-act-image: '../../../img/sprite.png';
$icon-nav-ly-act: (272px, 140px, -272px, -140px, 23px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-ly-act', );
$icon-nav-ly-name: 'icon-nav-ly';
$icon-nav-ly-x: 272px;
$icon-nav-ly-y: 170px;
$icon-nav-ly-offset-x: -272px;
$icon-nav-ly-offset-y: -170px;
$icon-nav-ly-width: 23px;
$icon-nav-ly-height: 20px;
$icon-nav-ly-total-width: 377px;
$icon-nav-ly-total-height: 331px;
$icon-nav-ly-image: '../../../img/sprite.png';
$icon-nav-ly: (272px, 170px, -272px, -170px, 23px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-ly', );
$icon-nav-rp-act-name: 'icon-nav-rp-act';
$icon-nav-rp-act-x: 337px;
$icon-nav-rp-act-y: 29px;
$icon-nav-rp-act-offset-x: -337px;
$icon-nav-rp-act-offset-y: -29px;
$icon-nav-rp-act-width: 17px;
$icon-nav-rp-act-height: 20px;
$icon-nav-rp-act-total-width: 377px;
$icon-nav-rp-act-total-height: 331px;
$icon-nav-rp-act-image: '../../../img/sprite.png';
$icon-nav-rp-act: (337px, 29px, -337px, -29px, 17px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-rp-act', );
$icon-nav-rp-name: 'icon-nav-rp';
$icon-nav-rp-x: 337px;
$icon-nav-rp-y: 89px;
$icon-nav-rp-offset-x: -337px;
$icon-nav-rp-offset-y: -89px;
$icon-nav-rp-width: 17px;
$icon-nav-rp-height: 20px;
$icon-nav-rp-total-width: 377px;
$icon-nav-rp-total-height: 331px;
$icon-nav-rp-image: '../../../img/sprite.png';
$icon-nav-rp: (337px, 89px, -337px, -89px, 17px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-rp', );
$icon-nav-task-act-name: 'icon-nav-task-act';
$icon-nav-task-act-x: 272px;
$icon-nav-task-act-y: 30px;
$icon-nav-task-act-offset-x: -272px;
$icon-nav-task-act-offset-y: -30px;
$icon-nav-task-act-width: 25px;
$icon-nav-task-act-height: 20px;
$icon-nav-task-act-total-width: 377px;
$icon-nav-task-act-total-height: 331px;
$icon-nav-task-act-image: '../../../img/sprite.png';
$icon-nav-task-act: (272px, 30px, -272px, -30px, 25px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-task-act', );
$icon-nav-task-name: 'icon-nav-task';
$icon-nav-task-x: 272px;
$icon-nav-task-y: 0px;
$icon-nav-task-offset-x: -272px;
$icon-nav-task-offset-y: 0px;
$icon-nav-task-width: 25px;
$icon-nav-task-height: 20px;
$icon-nav-task-total-width: 377px;
$icon-nav-task-total-height: 331px;
$icon-nav-task-image: '../../../img/sprite.png';
$icon-nav-task: (272px, 0px, -272px, 0px, 25px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-task', );
$icon-nav-tgzx-act-name: 'icon-nav-tgzx-act';
$icon-nav-tgzx-act-x: 0px;
$icon-nav-tgzx-act-y: 289px;
$icon-nav-tgzx-act-offset-x: 0px;
$icon-nav-tgzx-act-offset-y: -289px;
$icon-nav-tgzx-act-width: 24px;
$icon-nav-tgzx-act-height: 15px;
$icon-nav-tgzx-act-total-width: 377px;
$icon-nav-tgzx-act-total-height: 331px;
$icon-nav-tgzx-act-image: '../../../img/sprite.png';
$icon-nav-tgzx-act: (0px, 289px, 0px, -289px, 24px, 15px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-tgzx-act', );
$icon-nav-tgzx-name: 'icon-nav-tgzx';
$icon-nav-tgzx-x: 272px;
$icon-nav-tgzx-y: 230px;
$icon-nav-tgzx-offset-x: -272px;
$icon-nav-tgzx-offset-y: -230px;
$icon-nav-tgzx-width: 24px;
$icon-nav-tgzx-height: 15px;
$icon-nav-tgzx-total-width: 377px;
$icon-nav-tgzx-total-height: 331px;
$icon-nav-tgzx-image: '../../../img/sprite.png';
$icon-nav-tgzx: (272px, 230px, -272px, -230px, 24px, 15px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-tgzx', );
$icon-nav-treasure-act-name: 'icon-nav-treasure-act';
$icon-nav-treasure-act-x: 272px;
$icon-nav-treasure-act-y: 200px;
$icon-nav-treasure-act-offset-x: -272px;
$icon-nav-treasure-act-offset-y: -200px;
$icon-nav-treasure-act-width: 22px;
$icon-nav-treasure-act-height: 20px;
$icon-nav-treasure-act-total-width: 377px;
$icon-nav-treasure-act-total-height: 331px;
$icon-nav-treasure-act-image: '../../../img/sprite.png';
$icon-nav-treasure-act: (272px, 200px, -272px, -200px, 22px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-treasure-act', );
$icon-nav-treasure-name: 'icon-nav-treasure';
$icon-nav-treasure-x: 32px;
$icon-nav-treasure-y: 259px;
$icon-nav-treasure-offset-x: -32px;
$icon-nav-treasure-offset-y: -259px;
$icon-nav-treasure-width: 22px;
$icon-nav-treasure-height: 20px;
$icon-nav-treasure-total-width: 377px;
$icon-nav-treasure-total-height: 331px;
$icon-nav-treasure-image: '../../../img/sprite.png';
$icon-nav-treasure: (32px, 259px, -32px, -259px, 22px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-nav-treasure', );
$icon-opra-fail-name: 'icon-opra-fail';
$icon-opra-fail-x: 0px;
$icon-opra-fail-y: 144px;
$icon-opra-fail-offset-x: 0px;
$icon-opra-fail-offset-y: -144px;
$icon-opra-fail-width: 65px;
$icon-opra-fail-height: 65px;
$icon-opra-fail-total-width: 377px;
$icon-opra-fail-total-height: 331px;
$icon-opra-fail-image: '../../../img/sprite.png';
$icon-opra-fail: (0px, 144px, 0px, -144px, 65px, 65px, 377px, 331px, '../../../img/sprite.png', 'icon-opra-fail', );
$icon-opra-succ-name: 'icon-opra-succ';
$icon-opra-succ-x: 176px;
$icon-opra-succ-y: 64px;
$icon-opra-succ-offset-x: -176px;
$icon-opra-succ-offset-y: -64px;
$icon-opra-succ-width: 68px;
$icon-opra-succ-height: 68px;
$icon-opra-succ-total-width: 377px;
$icon-opra-succ-total-height: 331px;
$icon-opra-succ-image: '../../../img/sprite.png';
$icon-opra-succ: (176px, 64px, -176px, -64px, 68px, 68px, 377px, 331px, '../../../img/sprite.png', 'icon-opra-succ', );
$icon-people-name: 'icon-people';
$icon-people-x: 307px;
$icon-people-y: 180px;
$icon-people-offset-x: -307px;
$icon-people-offset-y: -180px;
$icon-people-width: 20px;
$icon-people-height: 20px;
$icon-people-total-width: 377px;
$icon-people-total-height: 331px;
$icon-people-image: '../../../img/sprite.png';
$icon-people: (307px, 180px, -307px, -180px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-people', );
$icon-people2-name: 'icon-people2';
$icon-people2-x: 58px;
$icon-people2-y: 289px;
$icon-people2-offset-x: -58px;
$icon-people2-offset-y: -289px;
$icon-people2-width: 14px;
$icon-people2-height: 14px;
$icon-people2-total-width: 377px;
$icon-people2-total-height: 331px;
$icon-people2-image: '../../../img/sprite.png';
$icon-people2: (58px, 289px, -58px, -289px, 14px, 14px, 377px, 331px, '../../../img/sprite.png', 'icon-people2', );
$icon-play-name: 'icon-play';
$icon-play-x: 189px;
$icon-play-y: 144px;
$icon-play-offset-x: -189px;
$icon-play-offset-y: -144px;
$icon-play-width: 43px;
$icon-play-height: 42px;
$icon-play-total-width: 377px;
$icon-play-total-height: 331px;
$icon-play-image: '../../../img/sprite.png';
$icon-play: (189px, 144px, -189px, -144px, 43px, 42px, 377px, 331px, '../../../img/sprite.png', 'icon-play', );
$icon-play-sm-name: 'icon-play_sm';
$icon-play-sm-x: 248px;
$icon-play-sm-y: 259px;
$icon-play-sm-offset-x: -248px;
$icon-play-sm-offset-y: -259px;
$icon-play-sm-width: 20px;
$icon-play-sm-height: 20px;
$icon-play-sm-total-width: 377px;
$icon-play-sm-total-height: 331px;
$icon-play-sm-image: '../../../img/sprite.png';
$icon-play-sm: (248px, 259px, -248px, -259px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-play_sm', );
$icon-pwd-name: 'icon-pwd';
$icon-pwd-x: 365px;
$icon-pwd-y: 54px;
$icon-pwd-offset-x: -365px;
$icon-pwd-offset-y: -54px;
$icon-pwd-width: 11px;
$icon-pwd-height: 14px;
$icon-pwd-total-width: 377px;
$icon-pwd-total-height: 331px;
$icon-pwd-image: '../../../img/sprite.png';
$icon-pwd: (365px, 54px, -365px, -54px, 11px, 14px, 377px, 331px, '../../../img/sprite.png', 'icon-pwd', );
$icon-sina-name: 'icon-sina';
$icon-sina-x: 30px;
$icon-sina-y: 314px;
$icon-sina-offset-x: -30px;
$icon-sina-offset-y: -314px;
$icon-sina-width: 20px;
$icon-sina-height: 16px;
$icon-sina-total-width: 377px;
$icon-sina-total-height: 331px;
$icon-sina-image: '../../../img/sprite.png';
$icon-sina: (30px, 314px, -30px, -314px, 20px, 16px, 377px, 331px, '../../../img/sprite.png', 'icon-sina', );
$icon-succ-name: 'icon-succ';
$icon-succ-x: 0px;
$icon-succ-y: 0px;
$icon-succ-offset-x: 0px;
$icon-succ-offset-y: 0px;
$icon-succ-width: 70px;
$icon-succ-height: 70px;
$icon-succ-total-width: 377px;
$icon-succ-total-height: 331px;
$icon-succ-image: '../../../img/sprite.png';
$icon-succ: (0px, 0px, 0px, 0px, 70px, 70px, 377px, 331px, '../../../img/sprite.png', 'icon-succ', );
$icon-tgs-name: 'icon-tgs';
$icon-tgs-x: 120px;
$icon-tgs-y: 219px;
$icon-tgs-offset-x: -120px;
$icon-tgs-offset-y: -219px;
$icon-tgs-width: 34px;
$icon-tgs-height: 25px;
$icon-tgs-total-width: 377px;
$icon-tgs-total-height: 331px;
$icon-tgs-image: '../../../img/sprite.png';
$icon-tgs: (120px, 219px, -120px, -219px, 34px, 25px, 377px, 331px, '../../../img/sprite.png', 'icon-tgs', );
$icon-unchecked-name: 'icon-unchecked';
$icon-unchecked-x: 337px;
$icon-unchecked-y: 177px;
$icon-unchecked-offset-x: -337px;
$icon-unchecked-offset-y: -177px;
$icon-unchecked-width: 18px;
$icon-unchecked-height: 18px;
$icon-unchecked-total-width: 377px;
$icon-unchecked-total-height: 331px;
$icon-unchecked-image: '../../../img/sprite.png';
$icon-unchecked: (337px, 177px, -337px, -177px, 18px, 18px, 377px, 331px, '../../../img/sprite.png', 'icon-unchecked', );
$icon-up-error-sm-name: 'icon-up-error-sm';
$icon-up-error-sm-x: 75px;
$icon-up-error-sm-y: 144px;
$icon-up-error-sm-offset-x: -75px;
$icon-up-error-sm-offset-y: -144px;
$icon-up-error-sm-width: 50px;
$icon-up-error-sm-height: 50px;
$icon-up-error-sm-total-width: 377px;
$icon-up-error-sm-total-height: 331px;
$icon-up-error-sm-image: '../../../img/sprite.png';
$icon-up-error-sm: (75px, 144px, -75px, -144px, 50px, 50px, 377px, 331px, '../../../img/sprite.png', 'icon-up-error-sm', );
$icon-up-succe-sm-name: 'icon-up-succe-sm';
$icon-up-succe-sm-x: 96px;
$icon-up-succe-sm-y: 80px;
$icon-up-succe-sm-offset-x: -96px;
$icon-up-succe-sm-offset-y: -80px;
$icon-up-succe-sm-width: 50px;
$icon-up-succe-sm-height: 50px;
$icon-up-succe-sm-total-width: 377px;
$icon-up-succe-sm-total-height: 331px;
$icon-up-succe-sm-image: '../../../img/sprite.png';
$icon-up-succe-sm: (96px, 80px, -96px, -80px, 50px, 50px, 377px, 331px, '../../../img/sprite.png', 'icon-up-succe-sm', );
$icon-user-name: 'icon-user';
$icon-user-x: 34px;
$icon-user-y: 289px;
$icon-user-offset-x: -34px;
$icon-user-offset-y: -289px;
$icon-user-width: 14px;
$icon-user-height: 14px;
$icon-user-total-width: 377px;
$icon-user-total-height: 331px;
$icon-user-image: '../../../img/sprite.png';
$icon-user: (34px, 289px, -34px, -289px, 14px, 14px, 377px, 331px, '../../../img/sprite.png', 'icon-user', );
$icon-userctl-act-name: 'icon-userctl-act';
$icon-userctl-act-x: 40px;
$icon-userctl-act-y: 219px;
$icon-userctl-act-offset-x: -40px;
$icon-userctl-act-offset-y: -219px;
$icon-userctl-act-width: 30px;
$icon-userctl-act-height: 30px;
$icon-userctl-act-total-width: 377px;
$icon-userctl-act-total-height: 331px;
$icon-userctl-act-image: '../../../img/sprite.png';
$icon-userctl-act: (40px, 219px, -40px, -219px, 30px, 30px, 377px, 331px, '../../../img/sprite.png', 'icon-userctl-act', );
$icon-userctl-name: 'icon-userctl';
$icon-userctl-x: 0px;
$icon-userctl-y: 219px;
$icon-userctl-offset-x: 0px;
$icon-userctl-offset-y: -219px;
$icon-userctl-width: 30px;
$icon-userctl-height: 30px;
$icon-userctl-total-width: 377px;
$icon-userctl-total-height: 331px;
$icon-userctl-image: '../../../img/sprite.png';
$icon-userctl: (0px, 219px, 0px, -219px, 30px, 30px, 377px, 331px, '../../../img/sprite.png', 'icon-userctl', );
$icon-warning-name: 'icon-warning';
$icon-warning-x: 218px;
$icon-warning-y: 259px;
$icon-warning-offset-x: -218px;
$icon-warning-offset-y: -259px;
$icon-warning-width: 20px;
$icon-warning-height: 20px;
$icon-warning-total-width: 377px;
$icon-warning-total-height: 331px;
$icon-warning-image: '../../../img/sprite.png';
$icon-warning: (218px, 259px, -218px, -259px, 20px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-warning', );
$icon-websiteman-act-name: 'icon-websiteman-act';
$icon-websiteman-act-x: 337px;
$icon-websiteman-act-y: 59px;
$icon-websiteman-act-offset-x: -337px;
$icon-websiteman-act-offset-y: -59px;
$icon-websiteman-act-width: 17px;
$icon-websiteman-act-height: 20px;
$icon-websiteman-act-total-width: 377px;
$icon-websiteman-act-total-height: 331px;
$icon-websiteman-act-image: '../../../img/sprite.png';
$icon-websiteman-act: (337px, 59px, -337px, -59px, 17px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-websiteman-act', );
$icon-websiteman-name: 'icon-websiteman';
$icon-websiteman-x: 337px;
$icon-websiteman-y: 119px;
$icon-websiteman-offset-x: -337px;
$icon-websiteman-offset-y: -119px;
$icon-websiteman-width: 17px;
$icon-websiteman-height: 20px;
$icon-websiteman-total-width: 377px;
$icon-websiteman-total-height: 331px;
$icon-websiteman-image: '../../../img/sprite.png';
$icon-websiteman: (337px, 119px, -337px, -119px, 17px, 20px, 377px, 331px, '../../../img/sprite.png', 'icon-websiteman', );
$icon-wechat-name: 'icon-wechat';
$icon-wechat-x: 0px;
$icon-wechat-y: 314px;
$icon-wechat-offset-x: 0px;
$icon-wechat-offset-y: -314px;
$icon-wechat-width: 20px;
$icon-wechat-height: 17px;
$icon-wechat-total-width: 377px;
$icon-wechat-total-height: 331px;
$icon-wechat-image: '../../../img/sprite.png';
$icon-wechat: (0px, 314px, 0px, -314px, 20px, 17px, 377px, 331px, '../../../img/sprite.png', 'icon-wechat', );
$icon-yzm-name: 'icon-yzm';
$icon-yzm-x: 365px;
$icon-yzm-y: 31px;
$icon-yzm-offset-x: -365px;
$icon-yzm-offset-y: -31px;
$icon-yzm-width: 12px;
$icon-yzm-height: 13px;
$icon-yzm-total-width: 377px;
$icon-yzm-total-height: 331px;
$icon-yzm-image: '../../../img/sprite.png';
$icon-yzm: (365px, 31px, -365px, -31px, 12px, 13px, 377px, 331px, '../../../img/sprite.png', 'icon-yzm', );
$icon-zz-upload-name: 'icon-zz-upload';
$icon-zz-upload-x: 0px;
$icon-zz-upload-y: 80px;
$icon-zz-upload-offset-x: 0px;
$icon-zz-upload-offset-y: -80px;
$icon-zz-upload-width: 86px;
$icon-zz-upload-height: 54px;
$icon-zz-upload-total-width: 377px;
$icon-zz-upload-total-height: 331px;
$icon-zz-upload-image: '../../../img/sprite.png';
$icon-zz-upload: (0px, 80px, 0px, -80px, 86px, 54px, 377px, 331px, '../../../img/sprite.png', 'icon-zz-upload', );
$spritesheet-width: 377px;
$spritesheet-height: 331px;
$spritesheet-image: '../../../img/sprite.png';
$spritesheet-sprites: ($icon-add-pic, $icon-android, $icon-app-back, $icon-app-read, $icon-app-read-gray, $icon-app-share, $icon-app-share-gray, $icon-arrow-l, $icon-arrow-r, $icon-back, $icon-bbs-act, $icon-bbs, $icon-bread-back, $icon-checked, $icon-cir-act, $icon-cir, $icon-close, $icon-date-addon, $icon-del, $icon-dfzz, $icon-ewm, $icon-ggz, $icon-gw, $icon-help, $icon-id-f, $icon-id-z, $icon-ios, $icon-modal-close, $icon-mtz, $icon-nav-ads-act, $icon-nav-ads, $icon-nav-art-act, $icon-nav-art, $icon-nav-finance-act, $icon-nav-finance, $icon-nav-home-act, $icon-nav-home, $icon-nav-ly-act, $icon-nav-ly, $icon-nav-rp-act, $icon-nav-rp, $icon-nav-task-act, $icon-nav-task, $icon-nav-tgzx-act, $icon-nav-tgzx, $icon-nav-treasure-act, $icon-nav-treasure, $icon-opra-fail, $icon-opra-succ, $icon-people, $icon-people2, $icon-play, $icon-play-sm, $icon-pwd, $icon-sina, $icon-succ, $icon-tgs, $icon-unchecked, $icon-up-error-sm, $icon-up-succe-sm, $icon-user, $icon-userctl-act, $icon-userctl, $icon-warning, $icon-websiteman-act, $icon-websiteman, $icon-wechat, $icon-yzm, $icon-zz-upload, );
$spritesheet: (377px, 331px, '../../../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
