// 最小屏幕尺寸
$screenMinWidth: 1200px !default;
$screenMinHeight: 800px !default;
// 其他
$content-edge-width:18px !default;
$component-edge-distance:20px !default;

// 字体大小
$font-size-xs: 12px !default;
$font-size-sm: 13px !default;
$font-size-md: 14px !default;
$font-size-lg: 15px !default;
$font-size-xl: 16px !default;

// 字体颜色
$font-color-default: #2b333b !default;
$font-color-primary: #007cfb !default;
$font-color-info: #fd9e24 !default;
$font-color-warning: #fb4747 !default;

// 主题颜色
$bg-color-default: #bfbfbf !default;
$bg-color-primary: #007cfb !default;
$bg-color-info: #fd9e24 !default;
$bg-color-warning: #fb4747 !default;
