@import "../../helpers/_variable";
@import "../../helpers/_mixin";
@import "../../helpers/_sprite";
@import "../../helpers/_function";


#app-main{
    padding-left: 80px;
    min-height: 100%;
    width: auto;
    background: #ebebeb;
}
