##############################
bower_components/
dist/
node_modules/
.idea/
.project
src/css/
src/scss/helpers/_sprite.scss
src/js/_dfzz/tpl/
src/js/_index/tpl/
gulpfile.js
##############################
