<div class="modal_content">
    <div class="modal">
        <div class="modal_header">
            <div class="opra"></div>
            <h2 class="tit">请选择登录账号类型</h2>
            <div class="opra">
                <a ui-sref="reg" class="link" href="javascript:void(0);">注册</a>
            </div>
        </div>
        <div class="modal_body">
            <ul class="user_type_secl">
                <li>
                    <a href="javascript:void(0);" ng-click="changeLoginType(0)">
                        <i class="icon dfzz"></i>
                    </a>
                    <p>地方站长</p>
                </li>
                <li>
                    <!--  ng-click="changeLoginType(1)" -->
                    <a href="javascript:void(0);">
                        <i class="icon mtz"></i>
                    </a>
                    <p>媒体主</p>
                </li>
                <li>
                    <!--  ng-click="changeLoginType(2)" -->
                    <a href="javascript:void(0);">
                        <i class="icon ggz"></i>
                    </a>
                    <p>广告主</p>
                </li>
                <li>
                    <!--  ng-click="changeLoginType(3)" -->
                    <a href="javascript:void(0);">
                        <i class="icon tgs"></i>
                    </a>
                    <p>推广商</p>
                </li>
            </ul>
            <p class="rz">
                <a href="javascript:void(0);" ui-sref="ruzhu">没有登录权限？立即入驻</a>
            </p>
        </div>
    </div>





    <!-- 操作成功 -->
    <!-- <div class="modal">
        <div class="modal_header login">
            <div class="opra"></div>
            <h2 class="tit">注册账号</h2>
            <div class="opra">
                <button class="close" type="button" name="button"></button>
            </div>
        </div>
        <div class="modal_body">
            <div class="success">
                <div class="icon"></div>
                <p>恭喜您，注册成功</p>
                <button type="button" name="button">完成</button>
            </div>
        </div>
    </div> -->

    <!-- 入驻成功 -->
    <!-- <div class="modal">
        <div class="modal_header">
            <div class="opra"></div>
            <h2 class="tit">入驻成功</h2>
            <div class="opra"></div>
        </div>
        <div class="modal_body">
            <div class="success">
                <div class="icon"></div>
                <p>您已成功开通2台地方站长后台权限</p>
                <button type="button" name="button">立即前往登录</button>
            </div>
        </div>
    </div> -->
</div>
