
@import "../../helpers/_variable";
@import "../../helpers/_mixin";
@import "../../helpers/_sprite";
@import "../../helpers/_function";

$app-ipt-placeholder:#bfbfbf !default;
$a-color:$font-color-primary;

html{
    height: 100%;
}
body{
    font-family: "Microsoft YaHei";
    height: 100%;
    min-width: $screenMinWidth;
    min-height: $screenMinHeight;
    position: relative;
    overflow: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
hr{
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    margin: 0;
}
a{
    color: $a-color;
    display: inline-block;
    &:focus,&:hover{
        color: darken($a-color, 15%);
        text-decoration: none;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{
    -moz-appearance:textfield;
}


input,
textarea{
    &::-webkit-input-placeholder {
        color: $app-ipt-placeholder;
    }
    &:-moz-placeholder {
        color: $app-ipt-placeholder;
    }
    &::-moz-placeholder {
        color: $app-ipt-placeholder;
    }
    &:-ms-input-placeholder {
        color: $app-ipt-placeholder;
    }
}

.hide{
    display: none !important;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    overflow: hidden;
    line-height: 0;
    clear: both;
}

.show-msg {
    position:fixed;
    width:233px;
    height:50px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.09);
    border-radius: 3px;
    font-family: '.PingFangSC-Semibold';
    font-size: 18px;
    font-weight:bold;
    color: #2B333B;
    letter-spacing: 0;
    line-height:50px;
    text-align:center;
    z-index:10000;
}
.show-msg-in {
-o-animation:showIn 1s ease forwards;
-moz-animation:showIn 1s ease forwards;
-webkit-animation:showIn 1s ease forwards;
    animation:showIn 1s ease forwards;
}
@-o-keyframes showIn{
    from {
        opacity:0;
        transform:translateY(-100px);
    }
    to {
        opacity:1;
        transform:translateY(0)
    }
}
@-moz-keyframes showIn{
    from {
        opacity:0;
        transform:translateY(-100px);
    }
    to {
        opacity:1;
        transform:translateY(0)
    }
}
@-webkit-keyframes showIn{
    from {
        opacity:0;
        transform:translateY(-100px);
    }
    to {
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes showIn{
    from {
        opacity:0;
        transform:translateY(-100px);
    }
    to {
        opacity:1;
        transform:translateY(0)
    }
}

.show-msg-out {
-o-animation:showOut 1s ease forwards;
-moz-animation:showOut 1s ease forwards;
-webkit-animation:showOut 1s ease forwards;
    animation:showOut 1s ease forwards;
}
@-o-keyframes showOut {
    from {
         opacity:1;
        transform:translateY(0)
    }
    to {
        opacity:0;
        transform:translateY(-100px);
    }
}
@-moz-keyframes showOut {
    from {
         opacity:1;
        transform:translateY(0)
    }
    to {
        opacity:0;
        transform:translateY(-100px);
    }
}
@-webkit-keyframes showOut {
    from {
         opacity:1;
        transform:translateY(0)
    }
    to {
        opacity:0;
        transform:translateY(-100px);
    }
}
@keyframes showOut {
    from {
         opacity:1;
        transform:translateY(0)
    }
    to {
        opacity:0;
        transform:translateY(-100px);
    }
}

// 抓取微信文章 修复样式
@media screen and (min-width: 1024px){
    .rich_media{
        width: auto !important;
    }
}
@media screen and (min-width: 1024px){
    .rich_media_inner {
        padding: 0 !important;
    }
}
.rich_media_area_primary{
    padding: 0 !important;
}
