@import "../../helpers/_variable";
@import "../../helpers/_mixin";
@import "../../helpers/_sprite";
@import "../../helpers/_function";

.treasure_lucky{
    .app-filter{
        background: #fff;
        padding-bottom: 20px;
        margin: 0;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    padding-bottom: 1px;
    .app-display-board{
        .l{
            width: 100%;
            .inner{
                margin-right: 0;
                .item{
                    width: 16.66%;
                }
            }
        }
    }
}
