@import "../../helpers/_variable";
@import "../../helpers/_mixin";
@import "../../helpers/_sprite";
@import "../../helpers/_function";

.edui-editor-body .edui-body-container{
    @include content-scroll();
    .rich_media_content{
        overflow: hidden;
    }
}

.edui-body-container *{
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;

}
