@import "../../helpers/_variable";
@import "../../helpers/_mixin";
@import "../../helpers/_sprite";
@import "../../helpers/_function";
.modal-module-set{
    .modal-content{
        overflow: hidden;
    }
    .modal-dialog{
        %ipt_focus{
            outline: 0;
            &:focus{
                border:1px solid lighten($font-color-primary,25%);
            }
        }
        .modal-body .tit{
            background-color: #f8f8f8;
            h2{
                height: 44px;
                line-height: 44px;
                padding-left: 20px;
                margin: 0;
                font-size: 16px;
                font-family: inherit;
                font-weight: bold;
                color: #2B333B;
            }
        }
        .content{
            padding:25px;
            padding-bottom: 0;
            .msg{
                line-height: 30px;
                font-size: 15px;
                .succ{
                    color: #007cfb;
                }
                .err{
                    color: #fb4747;
                }
            }
            input{
                display: block;
                padding: 8px 6px;
                border: 1px solid #ddd;
                width: 100%;
                border: 1px solid #d7d7d7;
                border-radius: 2px;
                font-size: inherit;
                font-family: inherit;
                @extend %ipt_focus;
            }
        }
        .btnBox{
            padding: 20px 25px;
            text-align: right;
            button{
                margin-left: 8px;
            }
            p{
                margin: 0;
                padding: 0;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            .err{
                color: $font-color-info;
            }
            .msg{
                color: $font-color-primary;
            }
        }
    }
}
